.chartico:before,
.catico:before {
  content: " ";
  display: block;
  width: 128px;
  height: 128px;
  background: #eee;
  border: 5px solid #fff;
  border-radius: 50%;
  margin: auto;
}
.chartico.sm,
.catico.sm {
  margin: 0 5px;
  display: inline-block;
}
.chartico.sm:before,
.catico.sm:before {
  width: 64px;
  height: 64px;
  border-width: 4px;
}
.chartico.text,
.catico.text {
  margin: 0 10px;
  width: auto !important;
}
.chartico.text:before,
.catico.text:before {
  background: #fff;
  background-position: center center;
  background-repeat: no-repeat;
}
.chartico.text:after,
.catico.text:after {
  color: #444;
  font-weight: 400;
  font-size: 12px;
  display: block;
}
.chartico.animated-scatter-plot:before {
  background-image: url(/icon/chart/animated-scatter-plot.svg);
}
.chartico.animated-scatter-plot.text:after {
  content: 'animated scatter plot';
}
.chartico.scatter-plot:before {
  background-image: url(/icon/chart/scatter-plot.svg);
}
.chartico.scatter-plot.text:after {
  content: 'scatter plot';
}
.chartico.paired-scatter-plot:before {
  background-image: url(/icon/chart/paired-scatter-plot.svg);
}
.chartico.paired-scatter-plot.text:after {
  content: 'paired scatter plot';
}
.chartico.connected-scatter-plot:before {
  background-image: url(/icon/chart/connected-scatter-plot.svg);
}
.chartico.connected-scatter-plot.text:after {
  content: 'connected scatter plot';
}
.chartico.BCG-matrix:before {
  background-image: url(/icon/chart/BCG-matrix.svg);
}
.chartico.BCG-matrix.text:after {
  content: 'BCG matrix';
}
.chartico.ternary-plot:before {
  background-image: url(/icon/chart/ternary-plot.svg);
}
.chartico.ternary-plot.text:after {
  content: 'ternary plot';
}
.chartico.connected-ternary-plot:before {
  background-image: url(/icon/chart/connected-ternary-plot.svg);
}
.chartico.connected-ternary-plot.text:after {
  content: 'connected ternary plot';
}
.chartico.line-chart:before {
  background-image: url(/icon/chart/line-chart.svg);
}
.chartico.line-chart.text:after {
  content: 'line chart';
}
.chartico.step-chart:before {
  background-image: url(/icon/chart/step-chart.svg);
}
.chartico.step-chart.text:after {
  content: 'step chart';
}
.chartico.cycle-plot:before {
  background-image: url(/icon/chart/cycle-plot.svg);
}
.chartico.cycle-plot.text:after {
  content: 'cycle plot';
}
.chartico.pie-chart:before {
  background-image: url(/icon/chart/pie-chart.svg);
}
.chartico.pie-chart.text:after {
  content: 'pie chart';
}
.chartico.donut-chart:before {
  background-image: url(/icon/chart/donut-chart.svg);
}
.chartico.donut-chart.text:after {
  content: 'donut chart';
}
.chartico.fan-chart:before {
  background-image: url(/icon/chart/fan-chart.svg);
}
.chartico.fan-chart.text:after {
  content: 'fan chart';
}
.chartico.3:before {
  background-image: url(/icon/chart/3.svg);
}
.chartico.3.text:after {
  content: '3';
}
.chartico.d-pie-chart:before {
  background-image: url(/icon/chart/d-pie-chart.svg);
}
.chartico.d-pie-chart.text:after {
  content: 'd pie chart';
}
.chartico.bar-chart:before {
  background-image: url(/icon/chart/bar-chart.svg);
}
.chartico.bar-chart.text:after {
  content: 'bar chart';
}
.chartico.stacked-bar-chart:before {
  background-image: url(/icon/chart/stacked-bar-chart.svg);
}
.chartico.stacked-bar-chart.text:after {
  content: 'stacked bar chart';
}
.chartico.grouped-bar-chart:before {
  background-image: url(/icon/chart/grouped-bar-chart.svg);
}
.chartico.grouped-bar-chart.text:after {
  content: 'grouped bar chart';
}
.chartico.full-stacked-bar-chart:before {
  background-image: url(/icon/chart/full-stacked-bar-chart.svg);
}
.chartico.full-stacked-bar-chart.text:after {
  content: 'full stacked bar chart';
}
.chartico.marimekko-chart:before {
  background-image: url(/icon/chart/marimekko-chart.svg);
}
.chartico.marimekko-chart.text:after {
  content: 'marimekko chart';
}
.chartico.span-chart:before {
  background-image: url(/icon/chart/span-chart.svg);
}
.chartico.span-chart.text:after {
  content: 'span chart';
}
.chartico.population-pyramid:before {
  background-image: url(/icon/chart/population-pyramid.svg);
}
.chartico.population-pyramid.text:after {
  content: 'population pyramid';
}
.chartico.bullet-chart:before {
  background-image: url(/icon/chart/bullet-chart.svg);
}
.chartico.bullet-chart.text:after {
  content: 'bullet chart';
}
.chartico.curved-bar-chart:before {
  background-image: url(/icon/chart/curved-bar-chart.svg);
}
.chartico.curved-bar-chart.text:after {
  content: 'curved bar chart';
}
.chartico.gantt-diagram:before {
  background-image: url(/icon/chart/gantt-diagram.svg);
}
.chartico.gantt-diagram.text:after {
  content: 'gantt diagram';
}
.chartico.waterfall-chart:before {
  background-image: url(/icon/chart/waterfall-chart.svg);
}
.chartico.waterfall-chart.text:after {
  content: 'waterfall chart';
}
.chartico.parallel-coordinates:before {
  background-image: url(/icon/chart/parallel-coordinates.svg);
}
.chartico.parallel-coordinates.text:after {
  content: 'parallel coordinates';
}
.chartico.bump-chart:before {
  background-image: url(/icon/chart/bump-chart.svg);
}
.chartico.bump-chart.text:after {
  content: 'bump chart';
}
.chartico.combo-chart:before {
  background-image: url(/icon/chart/combo-chart.svg);
}
.chartico.combo-chart.text:after {
  content: 'combo chart';
}
.chartico.continuous-error-bar-plot:before {
  background-image: url(/icon/chart/continuous-error-bar-plot.svg);
}
.chartico.continuous-error-bar-plot.text:after {
  content: 'continuous error bar plot';
}
.chartico.column-chart:before {
  background-image: url(/icon/chart/column-chart.svg);
}
.chartico.column-chart.text:after {
  content: 'column chart';
}
.catico.distribution:before {
  background-image: url(/icon/cat/column-chart.svg);
}
.catico.distribution.text:after {
  content: 'distribution';
}
.catico.correlation:before {
  background-image: url(/icon/cat/column-chart.svg);
}
.catico.correlation.text:after {
  content: 'correlation';
}
.catico.trend:before {
  background-image: url(/icon/cat/column-chart.svg);
}
.catico.trend.text:after {
  content: 'trend';
}
.catico.change:before {
  background-image: url(/icon/cat/column-chart.svg);
}
.catico.change.text:after {
  content: 'change';
}
.catico.comparison:before {
  background-image: url(/icon/cat/column-chart.svg);
}
.catico.comparison.text:after {
  content: 'comparison';
}
.catico.proportion:before {
  background-image: url(/icon/cat/column-chart.svg);
}
.catico.proportion.text:after {
  content: 'proportion';
}
.catico.geography:before {
  background-image: url(/icon/cat/column-chart.svg);
}
.catico.geography.text:after {
  content: 'geography';
}
.catico.temporal:before {
  background-image: url(/icon/cat/column-chart.svg);
}
.catico.temporal.text:after {
  content: 'temporal';
}
.catico.hierarchy:before {
  background-image: url(/icon/cat/column-chart.svg);
}
.catico.hierarchy.text:after {
  content: 'hierarchy';
}
