html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: lato, "Noto Sans TC", "Heiti TC", "LiHei Pro", sans-serif;
  font-size: 1em;
  color: #444;
  background: #fff;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
body.card {
  background: url("/img/bk.jpg") center center fixed;
}
.pdb-root {
  padding-bottom: 0;
}
.grayed {
  color: #999;
}
.sep {
  width: 100%;
  height: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.sep.gap {
  margin: 20px 0;
}
.sep.gap.lg {
  margin: 60px 0;
}
.anchor {
  height: 0;
  margin: 0;
}
nav.navbar-default {
  max-width: 800px;
  margin: 0 auto;
  border: none;
  background: none;
  box-shadow: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #444;
  text-shadow: 0 0 3px #fff;
}
nav.navbar-default.invert {
  border-radius: 0;
}
nav.navbar-default.invert .navbar-brand,
nav.navbar-default.invert .navbar-nav > li > a {
  color: #fff;
  text-shadow: none;
  font-size: 0.85em;
  font-weight: 200;
}
#landing {
  background: url("/img/bk.png") center bottom no-repeat rgba(0,0,0,0.8);
  opacity: 1;
  color: #fff;
}
#landing .inner {
  text-align: center;
  margin: auto;
  padding-bottom: 40px;
  max-width: 1024px;
}
#landing .inner h1 {
  font-size: 4em;
  font-weight: 100;
  text-shadow: 5px 5px 6px rgba(0,0,0,0.5), -5px 5px 6px rgba(0,0,0,0.5);
}
#landing .inner p {
  font-weight: 100;
  display: inline-block;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 5px;
}
.headline.menu {
  background: #fd3;
}
.headline.menu .inner {
  max-width: 1024px;
  margin: auto;
  background: #fd3;
  padding: 15px 20px 15px;
}
.headline.menu .inner a {
  color: #444;
  text-decoration: none;
}
.headline.menu .inner h4 {
  font-weight: 300;
}
.headline .media,
.section .media {
  max-width: 1024px;
  margin: auto;
  padding: 40px 20px 0;
}
.section {
  max-width: 1024px;
  margin: auto;
}
.iconlist {
  padding: 20px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
.iconlist .icon {
  -webkit-flex: 0 1 100px;
  flex: 0 1 100px;
  margin-bottom: 30px;
}
.iconlist .icon > div {
  display: block;
  margin: auto;
}
.chartico,
.catico,
.encico,
.dimico {
  text-align: center;
  margin-bottom: 10px;
}
.chartico:before,
.catico:before,
.encico:before,
.dimico:before {
  content: " ";
  display: block;
  width: 128px;
  height: 128px;
  background: #eee;
  border: 5px solid #fff;
  border-radius: 50%;
  margin: auto;
}
.chartico.fff:before,
.catico.fff:before,
.encico.fff:before,
.dimico.fff:before {
  background: #fff;
}
.chartico.no-border:before,
.catico.no-border:before,
.encico.no-border:before,
.dimico.no-border:before {
  border: 0;
}
.chartico.xs,
.catico.xs,
.encico.xs,
.dimico.xs {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.chartico.xs:before,
.catico.xs:before,
.encico.xs:before,
.dimico.xs:before {
  width: 48px;
  height: 48px;
  border-width: 4px;
}
.chartico.sm,
.catico.sm,
.encico.sm,
.dimico.sm {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.chartico.sm:before,
.catico.sm:before,
.encico.sm:before,
.dimico.sm:before {
  width: 64px;
  height: 64px;
  border-width: 4px;
}
.chartico.md,
.catico.md,
.encico.md,
.dimico.md {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.chartico.md:before,
.catico.md:before,
.encico.md:before,
.dimico.md:before {
  width: 90px;
  height: 90px;
  border-width: 4px;
}
.chartico.text,
.catico.text,
.encico.text,
.dimico.text {
  margin-right: 10px;
  margin-left: 10px;
  width: auto !important;
}
.chartico.text:before,
.catico.text:before,
.encico.text:before,
.dimico.text:before {
  background: #fff;
  background-position: center center;
  background-repeat: no-repeat;
}
.chartico.text:after,
.catico.text:after,
.encico.text:after,
.dimico.text:after {
  color: #444;
  font-weight: 400;
  font-size: 12px;
  display: block;
}
.chartico.shadow:before,
.catico.shadow:before,
.encico.shadow:before,
.dimico.shadow:before {
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  margin-bottom: 5px;
}
.dimico {
  position: relative;
}
.taxico {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.dimico.text .taxico:after {
  position: absolute;
  bottom: -13px;
  font-size: 12px;
  width: 100%;
  left: 0;
}
.chartico.raw.disabled,
.catico.raw.disabled,
.encico.raw.disabled {
  opacity: 0.2;
/*filter: grayscale(100%) brightness(900%) opacity(50%)*/
}
.chartico.animated-scatter-plot:before {
  background-image: url(/icon/c/chart/animated-scatter-plot.svg);
}
.chartico.animated-scatter-plot.text:after {
  content: 'Animated Scatter Plot';
}
.chartico.animated-scatter-plot.text.zh:after {
  content: '動畫散布圖';
}
.chartico.raw.animated-scatter-plot:before {
  background-image: url(/icon/n/chart/animated-scatter-plot.svg);
}
.chartico.arc-diagram:before {
  background-image: url(/icon/c/chart/arc-diagram.svg);
}
.chartico.arc-diagram.text:after {
  content: 'Arc Diagram';
}
.chartico.arc-diagram.text.zh:after {
  content: '弧線圖';
}
.chartico.raw.arc-diagram:before {
  background-image: url(/icon/n/chart/arc-diagram.svg);
}
.chartico.area-chart:before {
  background-image: url(/icon/c/chart/area-chart.svg);
}
.chartico.area-chart.text:after {
  content: 'Area Chart';
}
.chartico.area-chart.text.zh:after {
  content: '區域圖';
}
.chartico.raw.area-chart:before {
  background-image: url(/icon/n/chart/area-chart.svg);
}
.chartico.bar-chart:before {
  background-image: url(/icon/c/chart/bar-chart.svg);
}
.chartico.bar-chart.text:after {
  content: 'Bar Chart';
}
.chartico.bar-chart.text.zh:after {
  content: '長條圖';
}
.chartico.raw.bar-chart:before {
  background-image: url(/icon/n/chart/bar-chart.svg);
}
.chartico.bcg-matrix:before {
  background-image: url(/icon/c/chart/bcg-matrix.svg);
}
.chartico.bcg-matrix.text:after {
  content: 'BCG Matrix';
}
.chartico.bcg-matrix.text.zh:after {
  content: '波士頓矩陣';
}
.chartico.raw.bcg-matrix:before {
  background-image: url(/icon/n/chart/bcg-matrix.svg);
}
.chartico.box-whisky-plot:before {
  background-image: url(/icon/c/chart/box-whisky-plot.svg);
}
.chartico.box-whisky-plot.text:after {
  content: 'Box Whisky Plot';
}
.chartico.box-whisky-plot.text.zh:after {
  content: '盒鬚圖';
}
.chartico.raw.box-whisky-plot:before {
  background-image: url(/icon/n/chart/box-whisky-plot.svg);
}
.chartico.bubble-array:before {
  background-image: url(/icon/c/chart/bubble-array.svg);
}
.chartico.bubble-array.text:after {
  content: 'Bubble Array';
}
.chartico.bubble-array.text.zh:after {
  content: '泡泡陣列';
}
.chartico.raw.bubble-array:before {
  background-image: url(/icon/n/chart/bubble-array.svg);
}
.chartico.bubble-chart:before {
  background-image: url(/icon/c/chart/bubble-chart.svg);
}
.chartico.bubble-chart.text:after {
  content: 'Bubble Chart';
}
.chartico.bubble-chart.text.zh:after {
  content: '泡泡圖';
}
.chartico.raw.bubble-chart:before {
  background-image: url(/icon/n/chart/bubble-chart.svg);
}
.chartico.bubble-map:before {
  background-image: url(/icon/c/chart/bubble-map.svg);
}
.chartico.bubble-map.text:after {
  content: 'Bubble Map';
}
.chartico.bubble-map.text.zh:after {
  content: '泡泡地圖';
}
.chartico.raw.bubble-map:before {
  background-image: url(/icon/n/chart/bubble-map.svg);
}
.chartico.bullet-chart:before {
  background-image: url(/icon/c/chart/bullet-chart.svg);
}
.chartico.bullet-chart.text:after {
  content: 'Bullet Chart';
}
.chartico.bullet-chart.text.zh:after {
  content: '子彈圖';
}
.chartico.raw.bullet-chart:before {
  background-image: url(/icon/n/chart/bullet-chart.svg);
}
.chartico.bump-chart:before {
  background-image: url(/icon/c/chart/bump-chart.svg);
}
.chartico.bump-chart.text:after {
  content: 'Bump Chart';
}
.chartico.bump-chart.text.zh:after {
  content: '凹凸圖';
}
.chartico.raw.bump-chart:before {
  background-image: url(/icon/n/chart/bump-chart.svg);
}
.chartico.cherry-chart:before {
  background-image: url(/icon/c/chart/cherry-chart.svg);
}
.chartico.cherry-chart.text:after {
  content: 'Cherry Chart';
}
.chartico.cherry-chart.text.zh:after {
  content: '櫻桃圖';
}
.chartico.raw.cherry-chart:before {
  background-image: url(/icon/n/chart/cherry-chart.svg);
}
.chartico.chord-diagram:before {
  background-image: url(/icon/c/chart/chord-diagram.svg);
}
.chartico.chord-diagram.text:after {
  content: 'Chord Diagram';
}
.chartico.chord-diagram.text.zh:after {
  content: '弦圖';
}
.chartico.raw.chord-diagram:before {
  background-image: url(/icon/n/chart/chord-diagram.svg);
}
.chartico.circular-treemap:before {
  background-image: url(/icon/c/chart/circular-treemap.svg);
}
.chartico.circular-treemap.text:after {
  content: 'Circular Treemap';
}
.chartico.circular-treemap.text.zh:after {
  content: '圓式樹狀圖*';
}
.chartico.raw.circular-treemap:before {
  background-image: url(/icon/n/chart/circular-treemap.svg);
}
.chartico.column-chart:before {
  background-image: url(/icon/c/chart/column-chart.svg);
}
.chartico.column-chart.text:after {
  content: 'Column Chart';
}
.chartico.column-chart.text.zh:after {
  content: '直式長條圖';
}
.chartico.raw.column-chart:before {
  background-image: url(/icon/n/chart/column-chart.svg);
}
.chartico.combo-chart:before {
  background-image: url(/icon/c/chart/combo-chart.svg);
}
.chartico.combo-chart.text:after {
  content: 'Combo Chart';
}
.chartico.combo-chart.text.zh:after {
  content: '複合圖';
}
.chartico.raw.combo-chart:before {
  background-image: url(/icon/n/chart/combo-chart.svg);
}
.chartico.connected-scatter-plot:before {
  background-image: url(/icon/c/chart/connected-scatter-plot.svg);
}
.chartico.connected-scatter-plot.text:after {
  content: 'Connected Scatter Plot';
}
.chartico.connected-scatter-plot.text.zh:after {
  content: '連接散布圖';
}
.chartico.raw.connected-scatter-plot:before {
  background-image: url(/icon/n/chart/connected-scatter-plot.svg);
}
.chartico.connected-ternary-plot:before {
  background-image: url(/icon/c/chart/connected-ternary-plot.svg);
}
.chartico.connected-ternary-plot.text:after {
  content: 'Connected Ternary Plot';
}
.chartico.connected-ternary-plot.text.zh:after {
  content: '連接三元圖';
}
.chartico.raw.connected-ternary-plot:before {
  background-image: url(/icon/n/chart/connected-ternary-plot.svg);
}
.chartico.continuous-error-bar-plot:before {
  background-image: url(/icon/c/chart/continuous-error-bar-plot.svg);
}
.chartico.continuous-error-bar-plot.text:after {
  content: 'Continuous Error Bar Plot';
}
.chartico.continuous-error-bar-plot.text.zh:after {
  content: '誤差區間長條圖';
}
.chartico.raw.continuous-error-bar-plot:before {
  background-image: url(/icon/n/chart/continuous-error-bar-plot.svg);
}
.chartico.curved-bar-chart:before {
  background-image: url(/icon/c/chart/curved-bar-chart.svg);
}
.chartico.curved-bar-chart.text:after {
  content: 'Curved Bar Chart';
}
.chartico.curved-bar-chart.text.zh:after {
  content: '曲式長條圖';
}
.chartico.raw.curved-bar-chart:before {
  background-image: url(/icon/n/chart/curved-bar-chart.svg);
}
.chartico.cycle-plot:before {
  background-image: url(/icon/c/chart/cycle-plot.svg);
}
.chartico.cycle-plot.text:after {
  content: 'Cycle Plot';
}
.chartico.cycle-plot.text.zh:after {
  content: '循環圖';
}
.chartico.raw.cycle-plot:before {
  background-image: url(/icon/n/chart/cycle-plot.svg);
}
.chartico.dashboard:before {
  background-image: url(/icon/c/chart/dashboard.svg);
}
.chartico.dashboard.text:after {
  content: 'Dashboard';
}
.chartico.dashboard.text.zh:after {
  content: '儀表板';
}
.chartico.raw.dashboard:before {
  background-image: url(/icon/n/chart/dashboard.svg);
}
.chartico.difference-chart:before {
  background-image: url(/icon/c/chart/difference-chart.svg);
}
.chartico.difference-chart.text:after {
  content: 'Difference Chart';
}
.chartico.difference-chart.text.zh:after {
  content: '面積差異圖';
}
.chartico.raw.difference-chart:before {
  background-image: url(/icon/n/chart/difference-chart.svg);
}
.chartico.donut-chart:before {
  background-image: url(/icon/c/chart/donut-chart.svg);
}
.chartico.donut-chart.text:after {
  content: 'Donut Chart';
}
.chartico.donut-chart.text.zh:after {
  content: '甜甜圈圖';
}
.chartico.raw.donut-chart:before {
  background-image: url(/icon/n/chart/donut-chart.svg);
}
.chartico.layered-area-chart:before {
  background-image: url(/icon/c/chart/layered-area-chart.svg);
}
.chartico.layered-area-chart.text:after {
  content: 'Layered Area Chart';
}
.chartico.layered-area-chart.text.zh:after {
  content: '分層式區域圖';
}
.chartico.raw.layered-area-chart:before {
  background-image: url(/icon/n/chart/layered-area-chart.svg);
}
.chartico.dorling-cartogram:before {
  background-image: url(/icon/c/chart/dorling-cartogram.svg);
}
.chartico.dorling-cartogram.text:after {
  content: 'Dorling Cartogram';
}
.chartico.dorling-cartogram.text.zh:after {
  content: '圓式統計地圖*';
}
.chartico.raw.dorling-cartogram:before {
  background-image: url(/icon/n/chart/dorling-cartogram.svg);
}
.chartico.dot-chart:before {
  background-image: url(/icon/c/chart/dot-chart.svg);
}
.chartico.dot-chart.text:after {
  content: 'Dot Plot';
}
.chartico.dot-chart.text.zh:after {
  content: '點圖';
}
.chartico.raw.dot-chart:before {
  background-image: url(/icon/n/chart/dot-chart.svg);
}
.chartico.dumbbell-chart:before {
  background-image: url(/icon/c/chart/dumbbell-chart.svg);
}
.chartico.dumbbell-chart.text:after {
  content: 'Dumbbell Chart';
}
.chartico.dumbbell-chart.text.zh:after {
  content: '啞鈴圖';
}
.chartico.raw.dumbbell-chart:before {
  background-image: url(/icon/n/chart/dumbbell-chart.svg);
}
.chartico.fishbone:before {
  background-image: url(/icon/c/chart/fishbone.svg);
}
.chartico.fishbone.text:after {
  content: 'Fishbone';
}
.chartico.fishbone.text.zh:after {
  content: '魚骨圖';
}
.chartico.raw.fishbone:before {
  background-image: url(/icon/n/chart/fishbone.svg);
}
.chartico.flow-chart:before {
  background-image: url(/icon/c/chart/flow-chart.svg);
}
.chartico.flow-chart.text:after {
  content: 'Flow Chart';
}
.chartico.flow-chart.text.zh:after {
  content: '流量圖';
}
.chartico.raw.flow-chart:before {
  background-image: url(/icon/n/chart/flow-chart.svg);
}
.chartico.cohort-chart:before {
  background-image: url(/icon/c/chart/cohort-chart.svg);
}
.chartico.cohort-chart.text:after {
  content: 'Cohort Chart';
}
.chartico.cohort-chart.text.zh:after {
  content: '隊列圖';
}
.chartico.raw.cohort-chart:before {
  background-image: url(/icon/n/chart/cohort-chart.svg);
}
.chartico.full-stacked-bar-chart:before {
  background-image: url(/icon/c/chart/full-stacked-bar-chart.svg);
}
.chartico.full-stacked-bar-chart.text:after {
  content: '100% Stacked Bar Chart';
}
.chartico.full-stacked-bar-chart.text.zh:after {
  content: '100%堆積長條圖';
}
.chartico.raw.full-stacked-bar-chart:before {
  background-image: url(/icon/n/chart/full-stacked-bar-chart.svg);
}
.chartico.funnel-chart:before {
  background-image: url(/icon/c/chart/funnel-chart.svg);
}
.chartico.funnel-chart.text:after {
  content: 'Funnel Chart';
}
.chartico.funnel-chart.text.zh:after {
  content: '漏斗圖';
}
.chartico.raw.funnel-chart:before {
  background-image: url(/icon/n/chart/funnel-chart.svg);
}
.chartico.gantt-diagram:before {
  background-image: url(/icon/c/chart/gantt-diagram.svg);
}
.chartico.gantt-diagram.text:after {
  content: 'Gantt Diagram';
}
.chartico.gantt-diagram.text.zh:after {
  content: '甘特圖';
}
.chartico.raw.gantt-diagram:before {
  background-image: url(/icon/n/chart/gantt-diagram.svg);
}
.chartico.gauge:before {
  background-image: url(/icon/c/chart/gauge.svg);
}
.chartico.gauge.text:after {
  content: 'Gauge Meter';
}
.chartico.gauge.text.zh:after {
  content: '指示儀表';
}
.chartico.raw.gauge:before {
  background-image: url(/icon/n/chart/gauge.svg);
}
.chartico.grouped-bar-chart:before {
  background-image: url(/icon/c/chart/grouped-bar-chart.svg);
}
.chartico.grouped-bar-chart.text:after {
  content: 'Grouped Bar Chart';
}
.chartico.grouped-bar-chart.text.zh:after {
  content: '分組長條圖';
}
.chartico.raw.grouped-bar-chart:before {
  background-image: url(/icon/n/chart/grouped-bar-chart.svg);
}
.chartico.infographics:before {
  background-image: url(/icon/c/chart/infographics.svg);
}
.chartico.infographics.text:after {
  content: 'Infographics';
}
.chartico.infographics.text.zh:after {
  content: '資訊圖表';
}
.chartico.raw.infographics:before {
  background-image: url(/icon/n/chart/infographics.svg);
}
.chartico.line-chart:before {
  background-image: url(/icon/c/chart/line-chart.svg);
}
.chartico.line-chart.text:after {
  content: 'Line Chart';
}
.chartico.line-chart.text.zh:after {
  content: '折線圖';
}
.chartico.raw.line-chart:before {
  background-image: url(/icon/n/chart/line-chart.svg);
}
.chartico.lollipop-chart:before {
  background-image: url(/icon/c/chart/lollipop-chart.svg);
}
.chartico.lollipop-chart.text:after {
  content: 'Lollipop Chart';
}
.chartico.lollipop-chart.text.zh:after {
  content: '棒棒糖圖';
}
.chartico.raw.lollipop-chart:before {
  background-image: url(/icon/n/chart/lollipop-chart.svg);
}
.chartico.histogram:before {
  background-image: url(/icon/c/chart/histogram.svg);
}
.chartico.histogram.text:after {
  content: 'Histogram';
}
.chartico.histogram.text.zh:after {
  content: '直方圖';
}
.chartico.raw.histogram:before {
  background-image: url(/icon/n/chart/histogram.svg);
}
.chartico.heatmap:before {
  background-image: url(/icon/c/chart/heatmap.svg);
}
.chartico.heatmap.text:after {
  content: 'Heatmap';
}
.chartico.heatmap.text.zh:after {
  content: '熱度圖';
}
.chartico.raw.heatmap:before {
  background-image: url(/icon/n/chart/heatmap.svg);
}
.chartico.contour-map:before {
  background-image: url(/icon/c/chart/contour-map.svg);
}
.chartico.contour-map.text:after {
  content: 'Contour Map';
}
.chartico.contour-map.text.zh:after {
  content: '輪廓圖';
}
.chartico.raw.contour-map:before {
  background-image: url(/icon/n/chart/contour-map.svg);
}
.chartico.map:before {
  background-image: url(/icon/c/chart/map.svg);
}
.chartico.map.text:after {
  content: 'Map';
}
.chartico.map.text.zh:after {
  content: '地圖';
}
.chartico.raw.map:before {
  background-image: url(/icon/n/chart/map.svg);
}
.chartico.marimekko-chart:before {
  background-image: url(/icon/c/chart/marimekko-chart.svg);
}
.chartico.marimekko-chart.text:after {
  content: 'Marimekko Chart';
}
.chartico.marimekko-chart.text.zh:after {
  content: 'Marimekko 圖*';
}
.chartico.raw.marimekko-chart:before {
  background-image: url(/icon/n/chart/marimekko-chart.svg);
}
.chartico.paired-scatter-plot:before {
  background-image: url(/icon/c/chart/paired-scatter-plot.svg);
}
.chartico.paired-scatter-plot.text:after {
  content: 'Paired Scatter Plot';
}
.chartico.paired-scatter-plot.text.zh:after {
  content: '配對散布圖';
}
.chartico.raw.paired-scatter-plot:before {
  background-image: url(/icon/n/chart/paired-scatter-plot.svg);
}
.chartico.paired-slopegraph:before {
  background-image: url(/icon/c/chart/paired-slopegraph.svg);
}
.chartico.paired-slopegraph.text:after {
  content: 'Paired Slopegraph';
}
.chartico.paired-slopegraph.text.zh:after {
  content: '配對滑坡圖';
}
.chartico.raw.paired-slopegraph:before {
  background-image: url(/icon/n/chart/paired-slopegraph.svg);
}
.chartico.spectrogram:before {
  background-image: url(/icon/c/chart/spectrogram.svg);
}
.chartico.spectrogram.text:after {
  content: 'Spectrogram';
}
.chartico.spectrogram.text.zh:after {
  content: '光譜圖';
}
.chartico.raw.spectrogram:before {
  background-image: url(/icon/n/chart/spectrogram.svg);
}
.chartico.parallel-coordinates:before {
  background-image: url(/icon/c/chart/parallel-coordinates.svg);
}
.chartico.parallel-coordinates.text:after {
  content: 'Parallel Coordinates';
}
.chartico.parallel-coordinates.text.zh:after {
  content: '平行座標圖*';
}
.chartico.raw.parallel-coordinates:before {
  background-image: url(/icon/n/chart/parallel-coordinates.svg);
}
.chartico.pareto-diagram:before {
  background-image: url(/icon/c/chart/pareto-diagram.svg);
}
.chartico.pareto-diagram.text:after {
  content: 'Pareto Diagram';
}
.chartico.pareto-diagram.text.zh:after {
  content: '柏拉圖';
}
.chartico.raw.pareto-diagram:before {
  background-image: url(/icon/n/chart/pareto-diagram.svg);
}
.chartico.pie-bubble:before {
  background-image: url(/icon/c/chart/pie-bubble.svg);
}
.chartico.pie-bubble.text:after {
  content: 'Pie Bubble';
}
.chartico.pie-bubble.text.zh:after {
  content: '圓餅泡泡圖';
}
.chartico.raw.pie-bubble:before {
  background-image: url(/icon/n/chart/pie-bubble.svg);
}
.chartico.pie-chart-3d:before {
  background-image: url(/icon/c/chart/pie-chart-3d.svg);
}
.chartico.pie-chart-3d.text:after {
  content: '3D Pie Chart';
}
.chartico.pie-chart-3d.text.zh:after {
  content: '立體圓餅圖';
}
.chartico.raw.pie-chart-3d:before {
  background-image: url(/icon/n/chart/pie-chart-3d.svg);
}
.chartico.pie-chart:before {
  background-image: url(/icon/c/chart/pie-chart.svg);
}
.chartico.pie-chart.text:after {
  content: 'Pie Chart';
}
.chartico.pie-chart.text.zh:after {
  content: '圓餅圖';
}
.chartico.raw.pie-chart:before {
  background-image: url(/icon/n/chart/pie-chart.svg);
}
.chartico.polar-chart:before {
  background-image: url(/icon/c/chart/polar-chart.svg);
}
.chartico.polar-chart.text:after {
  content: 'Polar Chart';
}
.chartico.polar-chart.text.zh:after {
  content: '極區圖';
}
.chartico.raw.polar-chart:before {
  background-image: url(/icon/n/chart/polar-chart.svg);
}
.chartico.population-pyramid:before {
  background-image: url(/icon/c/chart/population-pyramid.svg);
}
.chartico.population-pyramid.text:after {
  content: 'Population Pyramid';
}
.chartico.population-pyramid.text.zh:after {
  content: '人口金字塔';
}
.chartico.raw.population-pyramid:before {
  background-image: url(/icon/n/chart/population-pyramid.svg);
}
.chartico.pyramid-chart:before {
  background-image: url(/icon/c/chart/pyramid-chart.svg);
}
.chartico.pyramid-chart.text:after {
  content: 'Pyramid Chart';
}
.chartico.pyramid-chart.text.zh:after {
  content: '金字塔圖';
}
.chartico.raw.pyramid-chart:before {
  background-image: url(/icon/n/chart/pyramid-chart.svg);
}
.chartico.radar-chart:before {
  background-image: url(/icon/c/chart/radar-chart.svg);
}
.chartico.radar-chart.text:after {
  content: 'Radar Chart';
}
.chartico.radar-chart.text.zh:after {
  content: '雷達圖';
}
.chartico.raw.radar-chart:before {
  background-image: url(/icon/n/chart/radar-chart.svg);
}
.chartico.recycle-chart:before {
  background-image: url(/icon/c/chart/recycle-chart.svg);
}
.chartico.recycle-chart.text:after {
  content: 'Recycle Chart';
}
.chartico.recycle-chart.text.zh:after {
  content: '循環圖';
}
.chartico.raw.recycle-chart:before {
  background-image: url(/icon/n/chart/recycle-chart.svg);
}
.chartico.sankey-chart:before {
  background-image: url(/icon/c/chart/sankey-chart.svg);
}
.chartico.sankey-chart.text:after {
  content: 'Sankey Chart';
}
.chartico.sankey-chart.text.zh:after {
  content: '山基圖';
}
.chartico.raw.sankey-chart:before {
  background-image: url(/icon/n/chart/sankey-chart.svg);
}
.chartico.sankey-chord:before {
  background-image: url(/icon/c/chart/sankey-chord.svg);
}
.chartico.sankey-chord.text:after {
  content: 'Sankey Chord';
}
.chartico.sankey-chord.text.zh:after {
  content: '山基式弦圖';
}
.chartico.raw.sankey-chord:before {
  background-image: url(/icon/n/chart/sankey-chord.svg);
}
.chartico.scatter-plot:before {
  background-image: url(/icon/c/chart/scatter-plot.svg);
}
.chartico.scatter-plot.text:after {
  content: 'Scatter Plot';
}
.chartico.scatter-plot.text.zh:after {
  content: '散布圖';
}
.chartico.raw.scatter-plot:before {
  background-image: url(/icon/n/chart/scatter-plot.svg);
}
.chartico.slopegraph:before {
  background-image: url(/icon/c/chart/slopegraph.svg);
}
.chartico.slopegraph.text:after {
  content: 'Slopegraph';
}
.chartico.slopegraph.text.zh:after {
  content: '滑坡圖';
}
.chartico.raw.slopegraph:before {
  background-image: url(/icon/n/chart/slopegraph.svg);
}
.chartico.span-chart:before {
  background-image: url(/icon/c/chart/span-chart.svg);
}
.chartico.span-chart.text:after {
  content: 'Span Chart';
}
.chartico.span-chart.text.zh:after {
  content: '長度圖*';
}
.chartico.raw.span-chart:before {
  background-image: url(/icon/n/chart/span-chart.svg);
}
.chartico.stacked-area-chart:before {
  background-image: url(/icon/c/chart/stacked-area-chart.svg);
}
.chartico.stacked-area-chart.text:after {
  content: 'Stacked Area Chart';
}
.chartico.stacked-area-chart.text.zh:after {
  content: '堆積區域圖';
}
.chartico.raw.stacked-area-chart:before {
  background-image: url(/icon/n/chart/stacked-area-chart.svg);
}
.chartico.stacked-bar-chart:before {
  background-image: url(/icon/c/chart/stacked-bar-chart.svg);
}
.chartico.stacked-bar-chart.text:after {
  content: 'Stacked Bar Chart';
}
.chartico.stacked-bar-chart.text.zh:after {
  content: '堆積長條圖';
}
.chartico.raw.stacked-bar-chart:before {
  background-image: url(/icon/n/chart/stacked-bar-chart.svg);
}
.chartico.step-chart:before {
  background-image: url(/icon/c/chart/step-chart.svg);
}
.chartico.step-chart.text:after {
  content: 'Step Chart';
}
.chartico.step-chart.text.zh:after {
  content: '步階圖';
}
.chartico.raw.step-chart:before {
  background-image: url(/icon/n/chart/step-chart.svg);
}
.chartico.streamgraph:before {
  background-image: url(/icon/c/chart/streamgraph.svg);
}
.chartico.streamgraph.text:after {
  content: 'Streamgraph';
}
.chartico.streamgraph.text.zh:after {
  content: '主題河流';
}
.chartico.raw.streamgraph:before {
  background-image: url(/icon/n/chart/streamgraph.svg);
}
.chartico.sun-burst-diagram:before {
  background-image: url(/icon/c/chart/sun-burst-diagram.svg);
}
.chartico.sun-burst-diagram.text:after {
  content: 'Sun Burst Diagram';
}
.chartico.sun-burst-diagram.text.zh:after {
  content: '太陽花圖*';
}
.chartico.raw.sun-burst-diagram:before {
  background-image: url(/icon/n/chart/sun-burst-diagram.svg);
}
.chartico.ternary-plot:before {
  background-image: url(/icon/c/chart/ternary-plot.svg);
}
.chartico.ternary-plot.text:after {
  content: 'Ternary Plot';
}
.chartico.ternary-plot.text.zh:after {
  content: '三元圖';
}
.chartico.raw.ternary-plot:before {
  background-image: url(/icon/n/chart/ternary-plot.svg);
}
.chartico.timeline:before {
  background-image: url(/icon/c/chart/timeline.svg);
}
.chartico.timeline.text:after {
  content: 'Timeline';
}
.chartico.timeline.text.zh:after {
  content: '時間軸';
}
.chartico.raw.timeline:before {
  background-image: url(/icon/n/chart/timeline.svg);
}
.chartico.treemap:before {
  background-image: url(/icon/c/chart/treemap.svg);
}
.chartico.treemap.text:after {
  content: 'Treemap';
}
.chartico.treemap.text.zh:after {
  content: '樹狀圖';
}
.chartico.raw.treemap:before {
  background-image: url(/icon/n/chart/treemap.svg);
}
.chartico.venn-diagram:before {
  background-image: url(/icon/c/chart/venn-diagram.svg);
}
.chartico.venn-diagram.text:after {
  content: 'Venn Diagram';
}
.chartico.venn-diagram.text.zh:after {
  content: '文氏圖';
}
.chartico.raw.venn-diagram:before {
  background-image: url(/icon/n/chart/venn-diagram.svg);
}
.chartico.vertical-dumbbell-chart:before {
  background-image: url(/icon/c/chart/vertical-dumbbell-chart.svg);
}
.chartico.vertical-dumbbell-chart.text:after {
  content: 'Vertical Dumbbell Chart';
}
.chartico.vertical-dumbbell-chart.text.zh:after {
  content: '直式啞鈴圖';
}
.chartico.raw.vertical-dumbbell-chart:before {
  background-image: url(/icon/n/chart/vertical-dumbbell-chart.svg);
}
.chartico.violin-chart:before {
  background-image: url(/icon/c/chart/violin-chart.svg);
}
.chartico.violin-chart.text:after {
  content: 'Violin Chart';
}
.chartico.violin-chart.text.zh:after {
  content: '提琴圖';
}
.chartico.raw.violin-chart:before {
  background-image: url(/icon/n/chart/violin-chart.svg);
}
.chartico.voronoi-treemap:before {
  background-image: url(/icon/c/chart/voronoi-treemap.svg);
}
.chartico.voronoi-treemap.text:after {
  content: 'Voronoi Treemap';
}
.chartico.voronoi-treemap.text.zh:after {
  content: 'Voronoi 樹狀圖';
}
.chartico.raw.voronoi-treemap:before {
  background-image: url(/icon/n/chart/voronoi-treemap.svg);
}
.chartico.waffle-chart:before {
  background-image: url(/icon/c/chart/waffle-chart.svg);
}
.chartico.waffle-chart.text:after {
  content: 'Waffle Chart';
}
.chartico.waffle-chart.text.zh:after {
  content: '鬆餅圖';
}
.chartico.raw.waffle-chart:before {
  background-image: url(/icon/n/chart/waffle-chart.svg);
}
.chartico.waterfall-chart:before {
  background-image: url(/icon/c/chart/waterfall-chart.svg);
}
.chartico.waterfall-chart.text:after {
  content: 'Waterfall Chart';
}
.chartico.waterfall-chart.text.zh:after {
  content: '瀑布圖';
}
.chartico.raw.waterfall-chart:before {
  background-image: url(/icon/n/chart/waterfall-chart.svg);
}
.chartico.wordcloud:before {
  background-image: url(/icon/c/chart/wordcloud.svg);
}
.chartico.wordcloud.text:after {
  content: 'Word Cloud';
}
.chartico.wordcloud.text.zh:after {
  content: '文字雲';
}
.chartico.raw.wordcloud:before {
  background-image: url(/icon/n/chart/wordcloud.svg);
}
.chartico.world-globe:before {
  background-image: url(/icon/c/chart/world-globe.svg);
}
.chartico.world-globe.text:after {
  content: 'World Globe';
}
.chartico.world-globe.text.zh:after {
  content: '地球儀';
}
.chartico.raw.world-globe:before {
  background-image: url(/icon/n/chart/world-globe.svg);
}
.chartico.jigsaw-treemap:before {
  background-image: url(/icon/c/chart/jigsaw-treemap.svg);
}
.chartico.jigsaw-treemap.text:after {
  content: 'Jigsaw Treemap';
}
.chartico.jigsaw-treemap.text.zh:after {
  content: 'Jigsaw 樹狀圖';
}
.chartico.raw.jigsaw-treemap:before {
  background-image: url(/icon/n/chart/jigsaw-treemap.svg);
}
.chartico.convex-treemap:before {
  background-image: url(/icon/c/chart/convex-treemap.svg);
}
.chartico.convex-treemap.text:after {
  content: 'Convex Treemap';
}
.chartico.convex-treemap.text.zh:after {
  content: 'Convex 樹狀圖';
}
.chartico.raw.convex-treemap:before {
  background-image: url(/icon/n/chart/convex-treemap.svg);
}
.chartico.network:before {
  background-image: url(/icon/c/chart/network.svg);
}
.chartico.network.text:after {
  content: 'Network Graph';
}
.chartico.network.text.zh:after {
  content: '網絡圖';
}
.chartico.raw.network:before {
  background-image: url(/icon/n/chart/network.svg);
}
.chartico.full-stacked-area-chart:before {
  background-image: url(/icon/c/chart/full-stacked-area-chart.svg);
}
.chartico.full-stacked-area-chart.text:after {
  content: '100% Stacked Area Chart';
}
.chartico.full-stacked-area-chart.text.zh:after {
  content: '100%堆積區域圖';
}
.chartico.raw.full-stacked-area-chart:before {
  background-image: url(/icon/n/chart/full-stacked-area-chart.svg);
}
.chartico.alluvial-diagram:before {
  background-image: url(/icon/c/chart/alluvial-diagram.svg);
}
.chartico.alluvial-diagram.text:after {
  content: 'Alluvial Diagram';
}
.chartico.alluvial-diagram.text.zh:after {
  content: '沖積圖';
}
.chartico.raw.alluvial-diagram:before {
  background-image: url(/icon/n/chart/alluvial-diagram.svg);
}
.chartico.stacked-radar-chart:before {
  background-image: url(/icon/c/chart/stacked-radar-chart.svg);
}
.chartico.stacked-radar-chart.text:after {
  content: 'Stacked Radar Chart';
}
.chartico.stacked-radar-chart.text.zh:after {
  content: '堆積雷達圖';
}
.chartico.raw.stacked-radar-chart:before {
  background-image: url(/icon/n/chart/stacked-radar-chart.svg);
}
.chartico.lollipop-with-pie:before {
  background-image: url(/icon/c/chart/lollipop-with-pie.svg);
}
.chartico.lollipop-with-pie.text:after {
  content: 'Lollipop Pies';
}
.chartico.lollipop-with-pie.text.zh:after {
  content: '圓餅棒棒糖圖';
}
.chartico.raw.lollipop-with-pie:before {
  background-image: url(/icon/n/chart/lollipop-with-pie.svg);
}
.chartico.chernoff-face:before {
  background-image: url(/icon/c/chart/chernoff-face.svg);
}
.chartico.chernoff-face.text:after {
  content: 'Chernoff Face';
}
.chartico.chernoff-face.text.zh:after {
  content: '切爾諾夫臉型';
}
.chartico.raw.chernoff-face:before {
  background-image: url(/icon/n/chart/chernoff-face.svg);
}
.chartico.candlestick-chart:before {
  background-image: url(/icon/c/chart/candlestick-chart.svg);
}
.chartico.candlestick-chart.text:after {
  content: 'candlestick-chart';
}
.chartico.candlestick-chart.text.zh:after {
  content: 'K線圖';
}
.chartico.raw.candlestick-chart:before {
  background-image: url(/icon/n/chart/candlestick-chart.svg);
}
.chartico.thermometer:before {
  background-image: url(/icon/c/chart/thermometer.svg);
}
.chartico.thermometer.text:after {
  content: 'Thermometer';
}
.chartico.thermometer.text.zh:after {
  content: '溫度計';
}
.chartico.raw.thermometer:before {
  background-image: url(/icon/n/chart/thermometer.svg);
}
.chartico.raw:before,
.encico.raw:before,
.catico.raw:before,
.dimico.raw:before {
  border-radius: 0;
  background-color: rgba(0,0,0,0);
  filter: grayscale(100%) brightness(90%) opacity(100%);
}
.catico.distribution:before {
  background-image: url(/icon/c/cat/distribution.svg);
}
.catico.distribution.text:after {
  content: 'distribution';
}
.catico.distribution.text.zh:after {
  content: '分布';
}
.catico.raw.distribution:before {
  background-image: url(/icon/n/cat/distribution.svg);
}
.catico.correlation:before {
  background-image: url(/icon/c/cat/correlation.svg);
}
.catico.correlation.text:after {
  content: 'correlation';
}
.catico.correlation.text.zh:after {
  content: '相關';
}
.catico.raw.correlation:before {
  background-image: url(/icon/n/cat/correlation.svg);
}
.catico.trend:before {
  background-image: url(/icon/c/cat/trend.svg);
}
.catico.trend.text:after {
  content: 'trend';
}
.catico.trend.text.zh:after {
  content: '趨勢';
}
.catico.raw.trend:before {
  background-image: url(/icon/n/cat/trend.svg);
}
.catico.change:before {
  background-image: url(/icon/c/cat/change.svg);
}
.catico.change.text:after {
  content: 'change';
}
.catico.change.text.zh:after {
  content: '變化';
}
.catico.raw.change:before {
  background-image: url(/icon/n/cat/change.svg);
}
.catico.comparison:before {
  background-image: url(/icon/c/cat/comparison.svg);
}
.catico.comparison.text:after {
  content: 'comparison';
}
.catico.comparison.text.zh:after {
  content: '比較';
}
.catico.raw.comparison:before {
  background-image: url(/icon/n/cat/comparison.svg);
}
.catico.proportion:before {
  background-image: url(/icon/c/cat/proportion.svg);
}
.catico.proportion.text:after {
  content: 'proportion';
}
.catico.proportion.text.zh:after {
  content: '比例';
}
.catico.raw.proportion:before {
  background-image: url(/icon/n/cat/proportion.svg);
}
.catico.geography:before {
  background-image: url(/icon/c/cat/geography.svg);
}
.catico.geography.text:after {
  content: 'geography';
}
.catico.geography.text.zh:after {
  content: '空間';
}
.catico.raw.geography:before {
  background-image: url(/icon/n/cat/geography.svg);
}
.catico.temporal:before {
  background-image: url(/icon/c/cat/temporal.svg);
}
.catico.temporal.text:after {
  content: 'temporal';
}
.catico.temporal.text.zh:after {
  content: '時間';
}
.catico.raw.temporal:before {
  background-image: url(/icon/n/cat/temporal.svg);
}
.catico.hierarchy:before {
  background-image: url(/icon/c/cat/hierarchy.svg);
}
.catico.hierarchy.text:after {
  content: 'hierarchy';
}
.catico.hierarchy.text.zh:after {
  content: '階層';
}
.catico.raw.hierarchy:before {
  background-image: url(/icon/n/cat/hierarchy.svg);
}
.catico.overview:before {
  background-image: url(/icon/c/cat/overview.svg);
}
.catico.overview.text:after {
  content: 'overview';
}
.catico.overview.text.zh:after {
  content: '概觀';
}
.catico.raw.overview:before {
  background-image: url(/icon/n/cat/overview.svg);
}
.catico.periodic:before {
  background-image: url(/icon/c/cat/periodic.svg);
}
.catico.periodic.text:after {
  content: 'Periodic';
}
.catico.periodic.text.zh:after {
  content: '週期';
}
.catico.raw.periodic:before {
  background-image: url(/icon/n/cat/periodic.svg);
}
.catico.diverging:before {
  background-image: url(/icon/c/cat/diverging.svg);
}
.catico.diverging.text:after {
  content: 'Diverging';
}
.catico.diverging.text.zh:after {
  content: '分歧式';
}
.catico.raw.diverging:before {
  background-image: url(/icon/n/cat/diverging.svg);
}
.catico.performance:before {
  background-image: url(/icon/c/cat/performance.svg);
}
.catico.performance.text:after {
  content: 'Performance';
}
.catico.performance.text.zh:after {
  content: '指標式';
}
.catico.raw.performance:before {
  background-image: url(/icon/n/cat/performance.svg);
}
.encico.saturation:before {
  background-image: url(/icon/c/enc/saturation.svg);
}
.encico.saturation.text:after {
  content: 'saturation';
}
.encico.saturation.text.zh:after {
  content: '飽和度';
}
.encico.raw.saturation:before {
  background-image: url(/icon/n/enc/saturation.svg);
}
.encico.hue:before {
  background-image: url(/icon/c/enc/hue.svg);
}
.encico.hue.text:after {
  content: 'hue';
}
.encico.hue.text.zh:after {
  content: '色調';
}
.encico.raw.hue:before {
  background-image: url(/icon/n/enc/hue.svg);
}
.encico.lightness:before {
  background-image: url(/icon/c/enc/lightness.svg);
}
.encico.lightness.text:after {
  content: 'lightness';
}
.encico.lightness.text.zh:after {
  content: '明度';
}
.encico.raw.lightness:before {
  background-image: url(/icon/n/enc/lightness.svg);
}
.encico.area:before {
  background-image: url(/icon/c/enc/area.svg);
}
.encico.area.text:after {
  content: 'area';
}
.encico.area.text.zh:after {
  content: '面積';
}
.encico.raw.area:before {
  background-image: url(/icon/n/enc/area.svg);
}
.encico.position:before {
  background-image: url(/icon/c/enc/position.svg);
}
.encico.position.text:after {
  content: 'position';
}
.encico.position.text.zh:after {
  content: '座標';
}
.encico.raw.position:before {
  background-image: url(/icon/n/enc/position.svg);
}
.encico.aligned-length:before {
  background-image: url(/icon/c/enc/aligned-length.svg);
}
.encico.aligned-length.text:after {
  content: 'aligned length';
}
.encico.aligned-length.text.zh:after {
  content: '長度(共軸)';
}
.encico.raw.aligned-length:before {
  background-image: url(/icon/n/enc/aligned-length.svg);
}
.encico.direction:before {
  background-image: url(/icon/c/enc/direction.svg);
}
.encico.direction.text:after {
  content: 'direction';
}
.encico.direction.text.zh:after {
  content: '方向';
}
.encico.raw.direction:before {
  background-image: url(/icon/n/enc/direction.svg);
}
.encico.angle:before {
  background-image: url(/icon/c/enc/angle.svg);
}
.encico.angle.text:after {
  content: 'angle';
}
.encico.angle.text.zh:after {
  content: '角度';
}
.encico.raw.angle:before {
  background-image: url(/icon/n/enc/angle.svg);
}
.encico.shape:before {
  background-image: url(/icon/c/enc/shape.svg);
}
.encico.shape.text:after {
  content: 'shape';
}
.encico.shape.text.zh:after {
  content: '形狀';
}
.encico.raw.shape:before {
  background-image: url(/icon/n/enc/shape.svg);
}
.encico.volume:before {
  background-image: url(/icon/c/enc/volume.svg);
}
.encico.volume.text:after {
  content: 'volume';
}
.encico.volume.text.zh:after {
  content: '體積';
}
.encico.raw.volume:before {
  background-image: url(/icon/n/enc/volume.svg);
}
.encico.length:before {
  background-image: url(/icon/c/enc/length.svg);
}
.encico.length.text:after {
  content: 'length';
}
.encico.length.text.zh:after {
  content: '長度(異軸)';
}
.encico.raw.length:before {
  background-image: url(/icon/n/enc/length.svg);
}
.encico.color:before {
  background-image: url(/icon/c/enc/color.svg);
}
.encico.color.text:after {
  content: 'Color';
}
.encico.color.text.zh:after {
  content: '顏色';
}
.encico.raw.color:before {
  background-image: url(/icon/n/enc/color.svg);
}
.dimico.y-coord:before {
  background-image: url(/icon/c/dim/y-coord.svg);
}
.dimico.y-coord.text:after {
  content: 'Y Coord';
}
.dimico.y-coord.text.zh:after {
  content: 'Y 軸';
}
.dimico.x-coord:before {
  background-image: url(/icon/c/dim/x-coord.svg);
}
.dimico.x-coord.text:after {
  content: 'X Coord';
}
.dimico.x-coord.text.zh:after {
  content: 'X 軸';
}
.dimico.angle:before {
  background-image: url(/icon/c/dim/angle.svg);
}
.dimico.angle.text:after {
  content: 'angle';
}
.dimico.angle.text.zh:after {
  content: '角度';
}
.dimico.area:before {
  background-image: url(/icon/c/dim/area.svg);
}
.dimico.area.text:after {
  content: 'area';
}
.dimico.area.text.zh:after {
  content: '面積';
}
.dimico.color:before {
  background-image: url(/icon/c/dim/color.svg);
}
.dimico.color.text:after {
  content: 'Color';
}
.dimico.color.text.zh:after {
  content: '顏色';
}
.dimico.radius:before {
  background-image: url(/icon/c/dim/radius.svg);
}
.dimico.radius.text:after {
  content: 'Radius';
}
.dimico.radius.text.zh:after {
  content: '半徑';
}
.dimico.length:before {
  background-image: url(/icon/c/dim/length.svg);
}
.dimico.length.text:after {
  content: 'length';
}
.dimico.length.text.zh:after {
  content: '長度(異軸)';
}
.dimico .taxico.nominal {
  background-image: url(/icon/c/tax/nominal.svg);
}
.dimico.text .taxico.nominal:after {
  content: 'Nominal';
}
.dimico.text.zh .taxico.nominal:after {
  content: '文字';
}
.dimico .taxico.categorical {
  background-image: url(/icon/c/tax/categorical.svg);
}
.dimico.text .taxico.categorical:after {
  content: 'Category';
}
.dimico.text.zh .taxico.categorical:after {
  content: '類別';
}
.dimico .taxico.ordinal {
  background-image: url(/icon/c/tax/ordinal.svg);
}
.dimico.text .taxico.ordinal:after {
  content: 'Ordinal';
}
.dimico.text.zh .taxico.ordinal:after {
  content: '序值';
}
.dimico .taxico.interval {
  background-image: url(/icon/c/tax/interval.svg);
}
.dimico.text .taxico.interval:after {
  content: 'Interval';
}
.dimico.text.zh .taxico.interval:after {
  content: '相對數值';
}
.dimico .taxico.ratio {
  background-image: url(/icon/c/tax/ratio.svg);
}
.dimico.text .taxico.ratio:after {
  content: 'Ratio';
}
.dimico.text.zh .taxico.ratio:after {
  content: '絕對數值';
}
.dimico .taxico.any {
  background-image: url(/icon/c/tax/any.svg);
}
.dimico.text .taxico.any:after {
  content: 'Any Type';
}
.dimico.text.zh .taxico.any:after {
  content: '任意資料';
}
svg .label {
  font-weight: 200;
}
.card label {
  font-weight: 200;
  width: 100%;
  display: block;
  margin-left: 20px;
}
.card .text-center label {
  margin-left: 0;
}
.card .similar .catico {
  margin: 0 5px 0 0;
}
.card .similar label {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
}
.card .panel-body {
  padding: 0;
}
.card .title {
  padding: 0 20px;
}
.card .title hr {
  margin-bottom: 0;
}
.card .description {
  padding: 10px 20px;
  margin: 0;
}
.card .pros-cons {
  padding: 10px;
  background: #f9f9f9;
  color: #222;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.card .pros-cons .icon {
  font-size: 3em;
  text-align: center;
  line-height: 1em;
  margin-top: 10px;
}
.card .pros-cons label {
  color: #999;
  font-size: 0.9em;
  text-align: center;
  margin: 0;
}
.card .details {
  padding: 10px;
  margin: 10px 0 0;
  background: #fff;
}
.card .details label {
  font-size: 0.9em;
  color: #999;
}
.card .components {
  padding: 20px 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px;
  background: #f9f9f9;
}
.card .components label {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 10px;
}
.topics {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.topic {
  -webkit-flex: 0 1 120px;
  flex: 0 1 120px;
  background: #fe2;
  margin: 5px;
  border-radius: 4px;
  padding: 3px;
  text-align: center;
}
