#landing {
  background: url("/img/bk.png") center bottom no-repeat rgba(0,0,0,0.8);
  opacity: 1;
  color: #fff;
}
#landing .inner {
  text-align: center;
  margin: auto;
  padding-bottom: 40px;
  max-width: 1024px;
}
#landing .inner h1 {
  font-size: 4em;
  font-weight: 100;
  text-shadow: 5px 5px 6px rgba(0,0,0,0.5), -5px 5px 6px rgba(0,0,0,0.5);
}
#landing .inner p {
  font-weight: 100;
  display: inline-block;
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 5px;
}
.headline.menu {
  background: #fd3;
}
.headline.menu .inner {
  max-width: 1024px;
  margin: auto;
  background: #fd3;
  padding: 15px 20px 15px;
}
.headline.menu .inner a {
  color: #444;
  text-decoration: none;
}
.headline.menu .inner h4 {
  font-weight: 300;
}
.headline .media,
.section .media {
  max-width: 1024px;
  margin: auto;
  padding: 40px 20px 0;
}
.section {
  max-width: 1024px;
  margin: auto;
}
.iconlist {
  padding: 20px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}
.iconlist .icon {
  -webkit-flex: 0 1 100px;
  flex: 0 1 100px;
  margin-bottom: 30px;
}
.iconlist .icon > div {
  display: block;
  margin: auto;
}
