nav.navbar.navbar-default(class=navbar.className)
  .container-fluid
    if !navbar.nobrand
      .navbar-head
        a.navbar-brand(href="/" + lang + "/") Datavis.tips
    ul.nav.navbar-nav
      if !navbar.nobrand
        li: a(href="/" + lang + "/") HOME
      li: a(href="about/") ABOUT
      li: a(href="suggest/") SUGGEST
    ul.nav.navbar-nav.navbar-right
      li: a(href="https://plotdb.com/",target="_blank") #[small.grayed POWERED BY] PLOTDB
