label {
  background: #fbfbf8;
  display: block;
  max-width: 260px;
  border-radius: 0 5px 5px 0;
  padding: 0 15px;
  margin-left: -15px;
  border: 1px solid #aaa;
  border-left: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.row .col-sm-6:last-of-type label {
  border-left: 1px solid #999;
  border-radius: 5px;
}
