html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: lato, "Noto Sans TC", "Heiti TC", "LiHei Pro", sans-serif;
  font-size: 1em;
  color: #444;
  background: #fff;
}
html,
body {
  background: url("/img/bk.jpg") center center fixed;
}
.pdb-root {
  padding-bottom: 0;
}
.grayed {
  color: #999;
}
nav.navbar-default {
  max-width: 800px;
  margin: 0 auto;
  border: none;
  background: none;
  box-shadow: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #444;
  text-shadow: 0 0 3px #fff;
}
.chartico,
.catico,
.encico,
.dimico {
  text-align: center;
  margin-bottom: 10px;
}
.chartico:before,
.catico:before,
.encico:before,
.dimico:before {
  content: " ";
  display: block;
  width: 128px;
  height: 128px;
  background: #eee;
  border: 5px solid #fff;
  border-radius: 50%;
  margin: auto;
}
.chartico.no-border:before,
.catico.no-border:before,
.encico.no-border:before,
.dimico.no-border:before {
  border: 0;
}
.chartico.sm,
.catico.sm,
.encico.sm,
.dimico.sm {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.chartico.sm:before,
.catico.sm:before,
.encico.sm:before,
.dimico.sm:before {
  width: 64px;
  height: 64px;
  border-width: 4px;
}
.chartico.md,
.catico.md,
.encico.md,
.dimico.md {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.chartico.md:before,
.catico.md:before,
.encico.md:before,
.dimico.md:before {
  width: 90px;
  height: 90px;
  border-width: 4px;
}
.chartico.text,
.catico.text,
.encico.text,
.dimico.text {
  margin-right: 10px;
  margin-left: 10px;
  width: auto !important;
}
.chartico.text:before,
.catico.text:before,
.encico.text:before,
.dimico.text:before {
  background: #fff;
  background-position: center center;
  background-repeat: no-repeat;
}
.chartico.text:after,
.catico.text:after,
.encico.text:after,
.dimico.text:after {
  color: #444;
  font-weight: 400;
  font-size: 12px;
  display: block;
}
.chartico.shadow:before,
.catico.shadow:before,
.encico.shadow:before,
.dimico.shadow:before {
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  margin-bottom: 5px;
}
.dimico {
  position: relative;
}
.taxico {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.dimico.text .taxico:after {
  position: absolute;
  bottom: -13px;
  font-size: 12px;
  width: 100%;
  left: 0;
}
.chartico.disabled,
.catico.disabled,
.encico.disabled,
.taxico.disabled,
.dimico.disabled {
  filter: grayscale(100%) brightness(200%) opacity(60%);
}
.chartico.animated-scatter-plot:before {
  background-image: url(/icon/chart/animated-scatter-plot.svg);
}
.chartico.animated-scatter-plot.text:after {
  content: 'Animated Scatter Plot';
}
.chartico.animated-scatter-plot.text.zh:after {
  content: '動畫散布圖';
}
.chartico.arc-diagram:before {
  background-image: url(/icon/chart/arc-diagram.svg);
}
.chartico.arc-diagram.text:after {
  content: 'Arc Diagram';
}
.chartico.arc-diagram.text.zh:after {
  content: '弧線圖';
}
.chartico.area-chart:before {
  background-image: url(/icon/chart/area-chart.svg);
}
.chartico.area-chart.text:after {
  content: 'Area Chart';
}
.chartico.area-chart.text.zh:after {
  content: '區域圖';
}
.chartico.bar-chart:before {
  background-image: url(/icon/chart/bar-chart.svg);
}
.chartico.bar-chart.text:after {
  content: 'Bar Chart';
}
.chartico.bar-chart.text.zh:after {
  content: '長條圖';
}
.chartico.bcg-matrix:before {
  background-image: url(/icon/chart/bcg-matrix.svg);
}
.chartico.bcg-matrix.text:after {
  content: 'BCG Matrix';
}
.chartico.bcg-matrix.text.zh:after {
  content: '波士頓矩陣';
}
.chartico.box-whisky-plot:before {
  background-image: url(/icon/chart/box-whisky-plot.svg);
}
.chartico.box-whisky-plot.text:after {
  content: 'Box Whisky Plot';
}
.chartico.box-whisky-plot.text.zh:after {
  content: '盒鬚圖';
}
.chartico.bubble-array:before {
  background-image: url(/icon/chart/bubble-array.svg);
}
.chartico.bubble-array.text:after {
  content: 'Bubble Array';
}
.chartico.bubble-array.text.zh:after {
  content: '泡泡陣列';
}
.chartico.bubble-chart:before {
  background-image: url(/icon/chart/bubble-chart.svg);
}
.chartico.bubble-chart.text:after {
  content: 'Bubble Chart';
}
.chartico.bubble-chart.text.zh:after {
  content: '泡泡圖';
}
.chartico.bubble-map:before {
  background-image: url(/icon/chart/bubble-map.svg);
}
.chartico.bubble-map.text:after {
  content: 'Bubble Map';
}
.chartico.bubble-map.text.zh:after {
  content: '泡泡地圖';
}
.chartico.bullet-chart:before {
  background-image: url(/icon/chart/bullet-chart.svg);
}
.chartico.bullet-chart.text:after {
  content: 'Bullet Chart';
}
.chartico.bullet-chart.text.zh:after {
  content: '子彈圖';
}
.chartico.bump-chart:before {
  background-image: url(/icon/chart/bump-chart.svg);
}
.chartico.bump-chart.text:after {
  content: 'Bump Chart';
}
.chartico.bump-chart.text.zh:after {
  content: '凹凸圖';
}
.chartico.cherry-chart:before {
  background-image: url(/icon/chart/cherry-chart.svg);
}
.chartico.cherry-chart.text:after {
  content: 'Cherry Chart';
}
.chartico.cherry-chart.text.zh:after {
  content: '櫻桃圖';
}
.chartico.chord-diagram:before {
  background-image: url(/icon/chart/chord-diagram.svg);
}
.chartico.chord-diagram.text:after {
  content: 'Chord Diagram';
}
.chartico.chord-diagram.text.zh:after {
  content: '弦圖';
}
.chartico.circular-treemap:before {
  background-image: url(/icon/chart/circular-treemap.svg);
}
.chartico.circular-treemap.text:after {
  content: 'Circular Treemap';
}
.chartico.circular-treemap.text.zh:after {
  content: '圓式樹狀圖*';
}
.chartico.column-chart:before {
  background-image: url(/icon/chart/column-chart.svg);
}
.chartico.column-chart.text:after {
  content: 'Column Chart';
}
.chartico.column-chart.text.zh:after {
  content: '直式長條圖';
}
.chartico.combo-chart:before {
  background-image: url(/icon/chart/combo-chart.svg);
}
.chartico.combo-chart.text:after {
  content: 'Combo Chart';
}
.chartico.combo-chart.text.zh:after {
  content: '複合圖';
}
.chartico.connected-scatter-plot:before {
  background-image: url(/icon/chart/connected-scatter-plot.svg);
}
.chartico.connected-scatter-plot.text:after {
  content: 'Connected Scatter Plot';
}
.chartico.connected-scatter-plot.text.zh:after {
  content: '連接散布圖';
}
.chartico.connected-ternary-plot:before {
  background-image: url(/icon/chart/connected-ternary-plot.svg);
}
.chartico.connected-ternary-plot.text:after {
  content: 'Connected Ternary Plot';
}
.chartico.connected-ternary-plot.text.zh:after {
  content: '連接三元圖';
}
.chartico.continuous-error-bar-plot:before {
  background-image: url(/icon/chart/continuous-error-bar-plot.svg);
}
.chartico.continuous-error-bar-plot.text:after {
  content: 'Continuous Error Bar Plot';
}
.chartico.continuous-error-bar-plot.text.zh:after {
  content: '誤差區間長條圖';
}
.chartico.curved-bar-chart:before {
  background-image: url(/icon/chart/curved-bar-chart.svg);
}
.chartico.curved-bar-chart.text:after {
  content: 'Curved Bar Chart';
}
.chartico.curved-bar-chart.text.zh:after {
  content: '曲式長條圖';
}
.chartico.cycle-plot:before {
  background-image: url(/icon/chart/cycle-plot.svg);
}
.chartico.cycle-plot.text:after {
  content: 'Cycle Plot';
}
.chartico.cycle-plot.text.zh:after {
  content: '循環圖';
}
.chartico.dashboard:before {
  background-image: url(/icon/chart/dashboard.svg);
}
.chartico.dashboard.text:after {
  content: 'Dashboard';
}
.chartico.dashboard.text.zh:after {
  content: '儀表板';
}
.chartico.difference-chart:before {
  background-image: url(/icon/chart/difference-chart.svg);
}
.chartico.difference-chart.text:after {
  content: 'Difference Chart';
}
.chartico.difference-chart.text.zh:after {
  content: '面積差異圖';
}
.chartico.donut-chart:before {
  background-image: url(/icon/chart/donut-chart.svg);
}
.chartico.donut-chart.text:after {
  content: 'Donut Chart';
}
.chartico.donut-chart.text.zh:after {
  content: '甜甜圈圖';
}
.chartico.layered-area-chart:before {
  background-image: url(/icon/chart/layered-area-chart.svg);
}
.chartico.layered-area-chart.text:after {
  content: 'Layered Area Chart';
}
.chartico.layered-area-chart.text.zh:after {
  content: '分層式區域圖';
}
.chartico.dorling-cartogram:before {
  background-image: url(/icon/chart/dorling-cartogram.svg);
}
.chartico.dorling-cartogram.text:after {
  content: 'Dorling Cartogram';
}
.chartico.dorling-cartogram.text.zh:after {
  content: '圓式統計地圖*';
}
.chartico.dot-chart:before {
  background-image: url(/icon/chart/dot-chart.svg);
}
.chartico.dot-chart.text:after {
  content: 'Dot Plot';
}
.chartico.dot-chart.text.zh:after {
  content: '點圖';
}
.chartico.dumbbell-chart:before {
  background-image: url(/icon/chart/dumbbell-chart.svg);
}
.chartico.dumbbell-chart.text:after {
  content: 'Dumbbell Chart';
}
.chartico.dumbbell-chart.text.zh:after {
  content: '啞鈴圖';
}
.chartico.fishbone:before {
  background-image: url(/icon/chart/fishbone.svg);
}
.chartico.fishbone.text:after {
  content: 'Fishbone';
}
.chartico.fishbone.text.zh:after {
  content: '魚骨圖';
}
.chartico.flow-chart:before {
  background-image: url(/icon/chart/flow-chart.svg);
}
.chartico.flow-chart.text:after {
  content: 'Flow Chart';
}
.chartico.flow-chart.text.zh:after {
  content: '流量圖';
}
.chartico.cohort-chart:before {
  background-image: url(/icon/chart/cohort-chart.svg);
}
.chartico.cohort-chart.text:after {
  content: 'Cohort Chart';
}
.chartico.cohort-chart.text.zh:after {
  content: '隊列圖';
}
.chartico.full-stacked-bar-chart:before {
  background-image: url(/icon/chart/full-stacked-bar-chart.svg);
}
.chartico.full-stacked-bar-chart.text:after {
  content: '100% Stacked Bar Chart';
}
.chartico.full-stacked-bar-chart.text.zh:after {
  content: '100%堆積長條圖';
}
.chartico.funnel-chart:before {
  background-image: url(/icon/chart/funnel-chart.svg);
}
.chartico.funnel-chart.text:after {
  content: 'Funnel Chart';
}
.chartico.funnel-chart.text.zh:after {
  content: '漏斗圖';
}
.chartico.gantt-diagram:before {
  background-image: url(/icon/chart/gantt-diagram.svg);
}
.chartico.gantt-diagram.text:after {
  content: 'Gantt Diagram';
}
.chartico.gantt-diagram.text.zh:after {
  content: '甘特圖';
}
.chartico.gauge:before {
  background-image: url(/icon/chart/gauge.svg);
}
.chartico.gauge.text:after {
  content: 'Gauge Meter';
}
.chartico.gauge.text.zh:after {
  content: '指示儀表';
}
.chartico.grouped-bar-chart:before {
  background-image: url(/icon/chart/grouped-bar-chart.svg);
}
.chartico.grouped-bar-chart.text:after {
  content: 'Grouped Bar Chart';
}
.chartico.grouped-bar-chart.text.zh:after {
  content: '分組長條圖';
}
.chartico.infographics:before {
  background-image: url(/icon/chart/infographics.svg);
}
.chartico.infographics.text:after {
  content: 'Infographics';
}
.chartico.infographics.text.zh:after {
  content: '資訊圖表';
}
.chartico.line-chart:before {
  background-image: url(/icon/chart/line-chart.svg);
}
.chartico.line-chart.text:after {
  content: 'Line Chart';
}
.chartico.line-chart.text.zh:after {
  content: '折線圖';
}
.chartico.lollipop-chart:before {
  background-image: url(/icon/chart/lollipop-chart.svg);
}
.chartico.lollipop-chart.text:after {
  content: 'Lollipop Chart';
}
.chartico.lollipop-chart.text.zh:after {
  content: '棒棒糖圖';
}
.chartico.histogram:before {
  background-image: url(/icon/chart/histogram.svg);
}
.chartico.histogram.text:after {
  content: 'Histogram';
}
.chartico.histogram.text.zh:after {
  content: '直方圖';
}
.chartico.heatmap:before {
  background-image: url(/icon/chart/heatmap.svg);
}
.chartico.heatmap.text:after {
  content: 'Heatmap';
}
.chartico.heatmap.text.zh:after {
  content: '熱度圖';
}
.chartico.contour-map:before {
  background-image: url(/icon/chart/contour-map.svg);
}
.chartico.contour-map.text:after {
  content: 'Contour Map';
}
.chartico.contour-map.text.zh:after {
  content: '輪廓圖';
}
.chartico.map:before {
  background-image: url(/icon/chart/map.svg);
}
.chartico.map.text:after {
  content: 'Map';
}
.chartico.map.text.zh:after {
  content: '地圖';
}
.chartico.marimekko-chart:before {
  background-image: url(/icon/chart/marimekko-chart.svg);
}
.chartico.marimekko-chart.text:after {
  content: 'Marimekko Chart';
}
.chartico.marimekko-chart.text.zh:after {
  content: 'Marimekko 圖*';
}
.chartico.paired-scatter-plot:before {
  background-image: url(/icon/chart/paired-scatter-plot.svg);
}
.chartico.paired-scatter-plot.text:after {
  content: 'Paired Scatter Plot';
}
.chartico.paired-scatter-plot.text.zh:after {
  content: '配對散布圖';
}
.chartico.paired-slopegraph:before {
  background-image: url(/icon/chart/paired-slopegraph.svg);
}
.chartico.paired-slopegraph.text:after {
  content: 'Paired Slopegraph';
}
.chartico.paired-slopegraph.text.zh:after {
  content: '配對滑坡圖';
}
.chartico.spectrogram:before {
  background-image: url(/icon/chart/spectrogram.svg);
}
.chartico.spectrogram.text:after {
  content: 'Spectrogram';
}
.chartico.spectrogram.text.zh:after {
  content: '光譜圖';
}
.chartico.parallel-coordinates:before {
  background-image: url(/icon/chart/parallel-coordinates.svg);
}
.chartico.parallel-coordinates.text:after {
  content: 'Parallel Coordinates';
}
.chartico.parallel-coordinates.text.zh:after {
  content: '平行座標圖*';
}
.chartico.pareto-diagram:before {
  background-image: url(/icon/chart/pareto-diagram.svg);
}
.chartico.pareto-diagram.text:after {
  content: 'Pareto Diagram';
}
.chartico.pareto-diagram.text.zh:after {
  content: '柏拉圖';
}
.chartico.pie-bubble:before {
  background-image: url(/icon/chart/pie-bubble.svg);
}
.chartico.pie-bubble.text:after {
  content: 'Pie Bubble';
}
.chartico.pie-bubble.text.zh:after {
  content: '圓餅泡泡圖';
}
.chartico.pie-chart-3d:before {
  background-image: url(/icon/chart/pie-chart-3d.svg);
}
.chartico.pie-chart-3d.text:after {
  content: '3D Pie Chart';
}
.chartico.pie-chart-3d.text.zh:after {
  content: '立體圓餅圖';
}
.chartico.pie-chart:before {
  background-image: url(/icon/chart/pie-chart.svg);
}
.chartico.pie-chart.text:after {
  content: 'Pie Chart';
}
.chartico.pie-chart.text.zh:after {
  content: '圓餅圖';
}
.chartico.polar-chart:before {
  background-image: url(/icon/chart/polar-chart.svg);
}
.chartico.polar-chart.text:after {
  content: 'Polar Chart';
}
.chartico.polar-chart.text.zh:after {
  content: '極區圖';
}
.chartico.population-pyramid:before {
  background-image: url(/icon/chart/population-pyramid.svg);
}
.chartico.population-pyramid.text:after {
  content: 'Population Pyramid';
}
.chartico.population-pyramid.text.zh:after {
  content: '人口金字塔';
}
.chartico.pyramid-chart:before {
  background-image: url(/icon/chart/pyramid-chart.svg);
}
.chartico.pyramid-chart.text:after {
  content: 'Pyramid Chart';
}
.chartico.pyramid-chart.text.zh:after {
  content: '金字塔圖';
}
.chartico.radar-chart:before {
  background-image: url(/icon/chart/radar-chart.svg);
}
.chartico.radar-chart.text:after {
  content: 'Radar Chart';
}
.chartico.radar-chart.text.zh:after {
  content: '雷達圖';
}
.chartico.recycle-chart:before {
  background-image: url(/icon/chart/recycle-chart.svg);
}
.chartico.recycle-chart.text:after {
  content: 'Recycle Chart';
}
.chartico.recycle-chart.text.zh:after {
  content: '循環圖';
}
.chartico.sankey-chart:before {
  background-image: url(/icon/chart/sankey-chart.svg);
}
.chartico.sankey-chart.text:after {
  content: 'Sankey Chart';
}
.chartico.sankey-chart.text.zh:after {
  content: '山基圖';
}
.chartico.sankey-chord:before {
  background-image: url(/icon/chart/sankey-chord.svg);
}
.chartico.sankey-chord.text:after {
  content: 'Sankey Chord';
}
.chartico.sankey-chord.text.zh:after {
  content: '山基式弦圖';
}
.chartico.scatter-plot:before {
  background-image: url(/icon/chart/scatter-plot.svg);
}
.chartico.scatter-plot.text:after {
  content: 'Scatter Plot';
}
.chartico.scatter-plot.text.zh:after {
  content: '散布圖';
}
.chartico.slopegraph:before {
  background-image: url(/icon/chart/slopegraph.svg);
}
.chartico.slopegraph.text:after {
  content: 'Slopegraph';
}
.chartico.slopegraph.text.zh:after {
  content: '滑坡圖';
}
.chartico.span-chart:before {
  background-image: url(/icon/chart/span-chart.svg);
}
.chartico.span-chart.text:after {
  content: 'Span Chart';
}
.chartico.span-chart.text.zh:after {
  content: '長度圖*';
}
.chartico.stacked-area-chart:before {
  background-image: url(/icon/chart/stacked-area-chart.svg);
}
.chartico.stacked-area-chart.text:after {
  content: 'Stacked Area Chart';
}
.chartico.stacked-area-chart.text.zh:after {
  content: '堆積區域圖';
}
.chartico.stacked-bar-chart:before {
  background-image: url(/icon/chart/stacked-bar-chart.svg);
}
.chartico.stacked-bar-chart.text:after {
  content: 'Stacked Bar Chart';
}
.chartico.stacked-bar-chart.text.zh:after {
  content: '堆積長條圖';
}
.chartico.step-chart:before {
  background-image: url(/icon/chart/step-chart.svg);
}
.chartico.step-chart.text:after {
  content: 'Step Chart';
}
.chartico.step-chart.text.zh:after {
  content: '步階圖';
}
.chartico.streamgraph:before {
  background-image: url(/icon/chart/streamgraph.svg);
}
.chartico.streamgraph.text:after {
  content: 'Streamgraph';
}
.chartico.streamgraph.text.zh:after {
  content: '主題河流';
}
.chartico.sun-burst-diagram:before {
  background-image: url(/icon/chart/sun-burst-diagram.svg);
}
.chartico.sun-burst-diagram.text:after {
  content: 'Sun Burst Diagram';
}
.chartico.sun-burst-diagram.text.zh:after {
  content: '太陽花圖*';
}
.chartico.ternary-plot:before {
  background-image: url(/icon/chart/ternary-plot.svg);
}
.chartico.ternary-plot.text:after {
  content: 'Ternary Plot';
}
.chartico.ternary-plot.text.zh:after {
  content: '三元圖';
}
.chartico.timeline:before {
  background-image: url(/icon/chart/timeline.svg);
}
.chartico.timeline.text:after {
  content: 'Timeline';
}
.chartico.timeline.text.zh:after {
  content: '時間軸';
}
.chartico.treemap:before {
  background-image: url(/icon/chart/treemap.svg);
}
.chartico.treemap.text:after {
  content: 'Treemap';
}
.chartico.treemap.text.zh:after {
  content: '樹狀圖';
}
.chartico.venn-diagram:before {
  background-image: url(/icon/chart/venn-diagram.svg);
}
.chartico.venn-diagram.text:after {
  content: 'Venn Diagram';
}
.chartico.venn-diagram.text.zh:after {
  content: '文氏圖';
}
.chartico.vertical-dumbbell-chart:before {
  background-image: url(/icon/chart/vertical-dumbbell-chart.svg);
}
.chartico.vertical-dumbbell-chart.text:after {
  content: 'Vertical Dumbbell Chart';
}
.chartico.vertical-dumbbell-chart.text.zh:after {
  content: '直式啞鈴圖';
}
.chartico.violin-chart:before {
  background-image: url(/icon/chart/violin-chart.svg);
}
.chartico.violin-chart.text:after {
  content: 'Violin Chart';
}
.chartico.violin-chart.text.zh:after {
  content: '提琴圖';
}
.chartico.voronoi-treemap:before {
  background-image: url(/icon/chart/voronoi-treemap.svg);
}
.chartico.voronoi-treemap.text:after {
  content: 'Voronoi Treemap';
}
.chartico.voronoi-treemap.text.zh:after {
  content: 'Voronoi 樹狀圖';
}
.chartico.waffle-chart:before {
  background-image: url(/icon/chart/waffle-chart.svg);
}
.chartico.waffle-chart.text:after {
  content: 'Waffle Chart';
}
.chartico.waffle-chart.text.zh:after {
  content: '鬆餅圖';
}
.chartico.waterfall-chart:before {
  background-image: url(/icon/chart/waterfall-chart.svg);
}
.chartico.waterfall-chart.text:after {
  content: 'Waterfall Chart';
}
.chartico.waterfall-chart.text.zh:after {
  content: '瀑布圖';
}
.chartico.wordcloud:before {
  background-image: url(/icon/chart/wordcloud.svg);
}
.chartico.wordcloud.text:after {
  content: 'Word Cloud';
}
.chartico.wordcloud.text.zh:after {
  content: '文字雲';
}
.chartico.world-globe:before {
  background-image: url(/icon/chart/world-globe.svg);
}
.chartico.world-globe.text:after {
  content: 'World Globe';
}
.chartico.world-globe.text.zh:after {
  content: '地球儀';
}
.chartico.jigsaw-treemap:before {
  background-image: url(/icon/chart/jigsaw-treemap.svg);
}
.chartico.jigsaw-treemap.text:after {
  content: 'Jigsaw Treemap';
}
.chartico.jigsaw-treemap.text.zh:after {
  content: 'Jigsaw 樹狀圖';
}
.chartico.convex-treemap:before {
  background-image: url(/icon/chart/convex-treemap.svg);
}
.chartico.convex-treemap.text:after {
  content: 'Convex Treemap';
}
.chartico.convex-treemap.text.zh:after {
  content: 'Convex 樹狀圖';
}
.chartico.network:before {
  background-image: url(/icon/chart/network.svg);
}
.chartico.network.text:after {
  content: 'Network Graph';
}
.chartico.network.text.zh:after {
  content: '網絡圖';
}
.chartico.full-stacked-area-chart:before {
  background-image: url(/icon/chart/full-stacked-area-chart.svg);
}
.chartico.full-stacked-area-chart.text:after {
  content: '100% Stacked Area Chart';
}
.chartico.full-stacked-area-chart.text.zh:after {
  content: '100%堆積區域圖';
}
.chartico.alluvial-diagram:before {
  background-image: url(/icon/chart/alluvial-diagram.svg);
}
.chartico.alluvial-diagram.text:after {
  content: 'Alluvial Diagram';
}
.chartico.alluvial-diagram.text.zh:after {
  content: '沖積圖';
}
.chartico.stacked-radar-chart:before {
  background-image: url(/icon/chart/stacked-radar-chart.svg);
}
.chartico.stacked-radar-chart.text:after {
  content: 'Stacked Radar Chart';
}
.chartico.stacked-radar-chart.text.zh:after {
  content: '堆積雷達圖';
}
.catico.distribution:before {
  background-image: url(/icon/cat/distribution.svg);
}
.catico.distribution.text:after {
  content: 'distribution';
}
.catico.distribution.text.zh:after {
  content: '分布';
}
.catico.correlation:before {
  background-image: url(/icon/cat/correlation.svg);
}
.catico.correlation.text:after {
  content: 'correlation';
}
.catico.correlation.text.zh:after {
  content: '相關';
}
.catico.trend:before {
  background-image: url(/icon/cat/trend.svg);
}
.catico.trend.text:after {
  content: 'trend';
}
.catico.trend.text.zh:after {
  content: '趨勢';
}
.catico.change:before {
  background-image: url(/icon/cat/change.svg);
}
.catico.change.text:after {
  content: 'change';
}
.catico.change.text.zh:after {
  content: '變化';
}
.catico.comparison:before {
  background-image: url(/icon/cat/comparison.svg);
}
.catico.comparison.text:after {
  content: 'comparison';
}
.catico.comparison.text.zh:after {
  content: '比較';
}
.catico.proportion:before {
  background-image: url(/icon/cat/proportion.svg);
}
.catico.proportion.text:after {
  content: 'proportion';
}
.catico.proportion.text.zh:after {
  content: '比例';
}
.catico.geography:before {
  background-image: url(/icon/cat/geography.svg);
}
.catico.geography.text:after {
  content: 'geography';
}
.catico.geography.text.zh:after {
  content: '空間';
}
.catico.temporal:before {
  background-image: url(/icon/cat/temporal.svg);
}
.catico.temporal.text:after {
  content: 'temporal';
}
.catico.temporal.text.zh:after {
  content: '時間';
}
.catico.hierarchy:before {
  background-image: url(/icon/cat/hierarchy.svg);
}
.catico.hierarchy.text:after {
  content: 'hierarchy';
}
.catico.hierarchy.text.zh:after {
  content: '階層';
}
.catico.overview:before {
  background-image: url(/icon/cat/overview.svg);
}
.catico.overview.text:after {
  content: 'overview';
}
.catico.overview.text.zh:after {
  content: '概觀';
}
.catico.periodic:before {
  background-image: url(/icon/cat/periodic.svg);
}
.catico.periodic.text:after {
  content: 'Periodic';
}
.catico.periodic.text.zh:after {
  content: '週期';
}
.encico.saturation:before {
  background-image: url(/icon/encoding/saturation.svg);
}
.encico.saturation.text:after {
  content: 'saturation';
}
.encico.saturation.text.zh:after {
  content: '飽和度';
}
.encico.hue:before {
  background-image: url(/icon/encoding/hue.svg);
}
.encico.hue.text:after {
  content: 'hue';
}
.encico.hue.text.zh:after {
  content: '色調';
}
.encico.lightness:before {
  background-image: url(/icon/encoding/lightness.svg);
}
.encico.lightness.text:after {
  content: 'lightness';
}
.encico.lightness.text.zh:after {
  content: '明度';
}
.encico.area:before {
  background-image: url(/icon/encoding/area.svg);
}
.encico.area.text:after {
  content: 'area';
}
.encico.area.text.zh:after {
  content: '面積';
}
.encico.position:before {
  background-image: url(/icon/encoding/position.svg);
}
.encico.position.text:after {
  content: 'position';
}
.encico.position.text.zh:after {
  content: '座標';
}
.encico.aligned-length:before {
  background-image: url(/icon/encoding/aligned-length.svg);
}
.encico.aligned-length.text:after {
  content: 'aligned length';
}
.encico.aligned-length.text.zh:after {
  content: '長度(共軸)';
}
.encico.direction:before {
  background-image: url(/icon/encoding/direction.svg);
}
.encico.direction.text:after {
  content: 'direction';
}
.encico.direction.text.zh:after {
  content: '方向';
}
.encico.angle:before {
  background-image: url(/icon/encoding/angle.svg);
}
.encico.angle.text:after {
  content: 'angle';
}
.encico.angle.text.zh:after {
  content: '角度';
}
.encico.shape:before {
  background-image: url(/icon/encoding/shape.svg);
}
.encico.shape.text:after {
  content: 'shape';
}
.encico.shape.text.zh:after {
  content: '形狀';
}
.encico.volume:before {
  background-image: url(/icon/encoding/volume.svg);
}
.encico.volume.text:after {
  content: 'volume';
}
.encico.volume.text.zh:after {
  content: '體積';
}
.encico.length:before {
  background-image: url(/icon/encoding/length.svg);
}
.encico.length.text:after {
  content: 'length';
}
.encico.length.text.zh:after {
  content: '長度(異軸)';
}
.encico.color:before {
  background-image: url(/icon/encoding/color.svg);
}
.encico.color.text:after {
  content: 'Color';
}
.encico.color.text.zh:after {
  content: '顏色';
}
.dimico.y-coord:before {
  background-image: url(/icon/dim/y-coord.svg);
}
.dimico.y-coord.text:after {
  content: 'Y Coord';
}
.dimico.y-coord.text.zh:after {
  content: 'Y 軸';
}
.dimico.x-coord:before {
  background-image: url(/icon/dim/x-coord.svg);
}
.dimico.x-coord.text:after {
  content: 'X Coord';
}
.dimico.x-coord.text.zh:after {
  content: 'X 軸';
}
.dimico.angle:before {
  background-image: url(/icon/dim/angle.svg);
}
.dimico.angle.text:after {
  content: 'angle';
}
.dimico.angle.text.zh:after {
  content: '角度';
}
.dimico.area:before {
  background-image: url(/icon/dim/area.svg);
}
.dimico.area.text:after {
  content: 'area';
}
.dimico.area.text.zh:after {
  content: '面積';
}
.dimico.color:before {
  background-image: url(/icon/dim/color.svg);
}
.dimico.color.text:after {
  content: 'Color';
}
.dimico.color.text.zh:after {
  content: '顏色';
}
.dimico.radius:before {
  background-image: url(/icon/dim/radius.svg);
}
.dimico.radius.text:after {
  content: 'Radius';
}
.dimico.radius.text.zh:after {
  content: '半徑';
}
.dimico .taxico.nominal {
  background-image: url(/icon/tax/nominal.svg);
}
.dimico.text .taxico.nominal:after {
  content: 'Nominal';
}
.dimico.text.zh .taxico.nominal:after {
  content: '文字';
}
.dimico .taxico.categorical {
  background-image: url(/icon/tax/categorical.svg);
}
.dimico.text .taxico.categorical:after {
  content: 'Category';
}
.dimico.text.zh .taxico.categorical:after {
  content: '類別';
}
.dimico .taxico.ordinal {
  background-image: url(/icon/tax/ordinal.svg);
}
.dimico.text .taxico.ordinal:after {
  content: 'Ordinal';
}
.dimico.text.zh .taxico.ordinal:after {
  content: '序值';
}
.dimico .taxico.interval {
  background-image: url(/icon/tax/interval.svg);
}
.dimico.text .taxico.interval:after {
  content: 'Interval';
}
.dimico.text.zh .taxico.interval:after {
  content: '相對數值';
}
.dimico .taxico.ratio {
  background-image: url(/icon/tax/ratio.svg);
}
.dimico.text .taxico.ratio:after {
  content: 'Ratio';
}
.dimico.text.zh .taxico.ratio:after {
  content: '絕對數值';
}
.dimico .taxico.any {
  background-image: url(/icon/tax/any.svg);
}
.dimico.text .taxico.any:after {
  content: 'Any Type';
}
.dimico.text.zh .taxico.any:after {
  content: '任意資料';
}
svg .label {
  font-weight: 200;
}
.card label {
  font-weight: 200;
  width: 100%;
  display: block;
  margin-left: 20px;
}
.card .text-center label {
  margin-left: 0;
}
.card .similar .catico {
  margin: 0 5px 0 0;
}
.card .similar label {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
}
.card .panel-body {
  padding: 0;
}
.card .title {
  padding: 0 20px;
}
.card .title hr {
  margin-bottom: 0;
}
.card .description {
  padding: 10px 20px;
  margin: 0;
}
.card .pros-cons {
  padding: 10px;
  background: #f9f9f9;
  color: #222;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.card .pros-cons .icon {
  font-size: 3em;
  text-align: center;
  line-height: 1em;
  margin-top: 10px;
}
.card .pros-cons label {
  color: #999;
  font-size: 0.9em;
  text-align: center;
  margin: 0;
}
.card .details {
  padding: 10px;
  margin: 10px 0 0;
  background: #fff;
}
.card .details label {
  font-size: 0.9em;
  color: #999;
}
.card .components {
  padding: 20px 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px;
  background: #f9f9f9;
}
.card .components label {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 10px;
}
