nav.navbar-default {
  max-width: 800px;
  margin: 0 auto;
  border: none;
  background: none;
  box-shadow: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #444;
  text-shadow: 0 0 3px #fff;
}
nav.navbar-default.invert {
  border-radius: 0;
}
nav.navbar-default.invert .navbar-brand,
nav.navbar-default.invert .navbar-nav > li > a {
  color: #fff;
  text-shadow: none;
  font-size: 0.85em;
  font-weight: 200;
}
