extends /base.jade
block vars
  - var navbar = {};
  - var banner = {};
  - navbar.nobrand = true;
  - navbar.nohome = false;
  - banner.subtitle = "Suggestions";
block head
block body
  include /banner

  #root(style="margin:0;")
    .section
      h3 Any Idea for improvement?
      p We try to do our best to curate contents of datavis.tips, yet there might be mistakes or resources that we didn't found. With your suggestion we could make it a better place for everyone who want to learn data visualization. So, if you have any idea about improvement about datavis.tips, please leave your comment and suggestion below.
      hr
      #disqus_thread
      script.
        var disqus_config = function () {
        this.page.url = "http://datavis.tips/suggestion/";
        this.page.identifier = "suggestion";
        };
        (function() { /* DON'T EDIT BELOW THIS LINE */
        var d = document, s = d.createElement('script');
        s.src = 'https://datavis-tips.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    br
    hr
    include /footer.jade

