@import 'vars'
@import 'basic'

.topics
  flexbox()
  flex-wrap(wrap)
  align-items: center
  justify-content: center
.topic
  flex(0 1 120px)
  background: #fe2
  margin: 5px
  border-radius: 4px
  padding: 3px
  text-align: center
