@import 'chart-defines'

.chartico, .catico, .encico
  text-align: center
  margin-bottom: 10px
  &:before
    content: " "
    display: block
    width: 128px
    height: 128px
    background: #eee
    border: 5px solid #fff
    border-radius: 50%
    margin: auto

.chartico.sm, .catico.sm, .encico.sm
  &:before
    width: 64px
    height: 64px
    border-width: 4px
  margin-left: 5px
  margin-right: 5px
  display: inline-block

.chartico.md, .catico.md, .encico.md
  &:before
    width: 90px
    height: 84px
    border-width: 4px
    border-bottom: 0
  margin-left: 5px
  margin-right: 5px
  display: inline-block

.chartico.text, .catico.text, .encico.text
  &:before
    background: #fff
    background-position: center center
    background-repeat: no-repeat
  margin-right: 10px
  margin-left: 10px
  width: auto!important
  &:after
    color: #444
    font-weight: 400
    font-size: 12px
    display: block

for chart in charts
  .chartico.{chart}:before
    background-image: unquote("url(/icon/chart/" + chart + ".svg)")
  .chartico.{chart}.text
    &:after
      content: replace("-"," ","" + chart)
  .chartico.{chart}.text.zh
    &:after
      content: translation[chart]

for category in categorys
  .catico.{category}:before
    background-image: unquote("url(/icon/cat/" + category + ".svg)")
  .catico.{category}.text
    &:after
      content: replace("-"," ","" + category)
  .catico.{category}.text.zh
    &:after
      content: translation[category]

for encoding in encodings
  .encico.{encoding}:before
    background-image: unquote("url(/icon/encoding/" + encoding + ".svg)")
  .encico.{encoding}.text
    &:after
      content: replace("-"," ","" + encoding)
  .encico.{encoding}.text.zh
    &:after
      content: translation[encoding]
