charts = (
  animated-scatter-plot scatter-plot paired-scatter-plot connected-scatter-plot BCG-matrix ternary-plot connected-ternary-plot line-chart step-chart cycle-plot pie-chart donut-chart sun-burst-diagram 3d-pie-chart bar-chart stacked-bar-chart grouped-bar-chart full-stacked-bar-chart marimekko-chart span-chart population-pyramid bullet-chart curved-bar-chart gantt-diagram waterfall-chart parallel-coordinates bump-chart combo-chart continuous-error-bar-plot column-chart polar-chart bubble-chart bubble-map dorling-cartogram pie-bubble circular-treemap voronoi-treemap jigsaw-treemap convex-treemap
)
categorys = (
  distribution correlation trend change comparison proportion geography temporal hierarchy
)
encodings = (
  saturation hue lightness area position aligned-length direction angle shape volume "length"
)

blah = {
  "123": "一二三"
}

translation = {
  "animated-scatter-plot": "動畫散布圖",
  "scatter-plot": "散布圖",
  "paired-scatter-plot": "配對散布圖",
  "connected-scatter-plot": "連接散布圖",
  "BCG-matrix": "波士頓矩陣",
  "ternary-plot": "三元圖",
  "connected-ternary-plot": "連接三元圖",
  "line-chart": "折線圖",
  "step-chart": "步階圖",
  "cycle-plot": "循環圖",
  "pie-chart": "圓餅圖",
  "donut-chart": "甜甜圈圖",
  "sun-burst-diagram": "太陽花圖*",
  "3d-pie-chart": "立體圓餅圖",
  "bar-chart": "長條圖",
  "stacked-bar-chart": "堆積長條圖",
  "grouped-bar-chart": "分組長條圖",
  "full-stacked-bar-chart": "100%長條圖",
  "marimekko-chart": "Marimekko 圖*",
  "span-chart": "長度圖*",
  "population-pyramid": "人口金字塔",
  "bullet-chart": "子彈圖",
  "curved-bar-chart": "曲式長條圖",
  "gantt-diagram": "甘特圖",
  "waterfall-chart": "瀑布圖",
  "parallel-coordinates": "平行座標圖*",
  "bump-chart": "凹凸圖",
  "combo-chart": "複合圖",
  "continuous-error-bar-plot": "誤差區間長條圖",
  "column-chart": "直式長條圖",
  "polar-chart": "極區圖",
  "bubble-chart": "泡泡圖",
  "bubble-map": "泡泡地圖",
  "dorling-cartogram": "圓式統計地圖*",
  "pie-bubble": "圓餅泡泡圖",
  "circular-treemap": "圓式樹狀圖*",
  "voronoi-treemap": "Voronoi 樹狀圖",
  "jigsaw-treemap": "Jigsaw 樹狀圖",
  "convex-treemap": "Convex 樹狀圖",
  "distribution": "分布",
  "correlation": "相關",
  "trend": "趨勢",
  "change": "變化",
  "comparison": "比較",
  "proportion": "比例",
  "geography": "空間",
  "temporal": "時間",
  "hierarchy": "階層",
  "saturation": "飽和度",
  "hue": "色調",
  "lightness": "明度",
  "area": "面積",
  "position": "座標",
  "aligned-length": "長度(共軸)",
  "direction": "方向",
  "angle": "角度",
  "shape": "形狀",
  "volume": "體積",
  "length": "長度(異軸)"
}
