.chartico, .catico, .encico, .dimico
  text-align: center
  margin-bottom: 10px
  &:before
    content: " "
    display: block
    width: 128px
    height: 128px
    background: #eee
    border: 5px solid #fff
    border-radius: 50%
    margin: auto
  &.fff:before
    background: #fff
.chartico.no-border, .catico.no-border, .encico.no-border, .dimico.no-border
  &:before
    border: 0

.chartico.xs, .catico.xs, .encico.xs, .dimico.xs
  &:before
    width: 48px
    height: 48px
    border-width: 4px
  margin-left: 5px
  margin-right: 5px
  display: inline-block

.chartico.sm, .catico.sm, .encico.sm, .dimico.sm
  &:before
    width: 64px
    height: 64px
    border-width: 4px
  margin-left: 5px
  margin-right: 5px
  display: inline-block

.chartico.md, .catico.md, .encico.md, .dimico.md
  &:before
    width: 90px
    height: 90px
    border-width: 4px
  margin-left: 5px
  margin-right: 5px
  display: inline-block

.chartico.text, .catico.text, .encico.text, .dimico.text
  &:before
    background: #fff
    background-position: center center
    background-repeat: no-repeat
  margin-right: 10px
  margin-left: 10px
  width: auto!important
  &:after
    color: #444
    font-weight: 400
    font-size: 12px
    display: block

.chartico.shadow, .catico.shadow, .encico.shadow, .dimico.shadow
  &:before
    box-shadow: 0 2px 3px rgba(0,0,0,0.2)
    margin-bottom: 5px

.dimico
  position: relative
.taxico
  position: absolute
  top: 0
  left: 0
  width:100%
  height: 100%
  background-repeat: no-repeat
.dimico.text .taxico:after
  position: absolute
  bottom: -13px
  font-size: 12px
  width: 100%
  left: 0

/*
.chartico, .catico, .encico
   &.disabled
     filter: grayscale(100%) brightness(200%) opacity(50%)
*/
.chartico, .catico, .encico
   &.raw.disabled
     opacity: 0.2
     /*filter: grayscale(100%) brightness(900%) opacity(50%)*/

for chart in charts
  .chartico.{chart}:before
    background-image: unquote("url(/icon/c/chart/" + chart + ".svg)")
  .chartico.{chart}.text
    &:after
      content: i18n('en',chart)
  .chartico.{chart}.text.zh
    &:after
      content: i18n('zh',chart)
  .chartico.raw.{chart}:before
    background-image: unquote("url(/icon/n/chart/" + chart + ".svg)")

.chartico, .encico, .catico, .dimico
  &.raw:before
    border-radius: 0
    background-color: rgba(0,0,0,0)
    filter: grayscale(100%) brightness(90%) opacity(100%)


for category in categories
  .catico.{category}:before
    background-image: unquote("url(/icon/c/cat/" + category + ".svg)")
  .catico.{category}.text
    &:after
      content: i18n('en',category)
  .catico.{category}.text.zh
    &:after
      content: i18n('zh',category)
  .catico.raw.{category}:before
    background-image: unquote("url(/icon/n/cat/" + category + ".svg)")

for encoding in encodings
  .encico.{encoding}:before
    background-image: unquote("url(/icon/c/enc/" + encoding + ".svg)")
  .encico.{encoding}.text
    &:after
      content: i18n('en',encoding)
  .encico.{encoding}.text.zh
    &:after
      content: i18n('zh',encoding)
  .encico.raw.{encoding}:before
    background-image: unquote("url(/icon/n/enc/" + encoding + ".svg)")

for dimension in dimensions
  .dimico.{dimension}:before
    background-image: unquote("url(/icon/c/dim/" + dimension + ".svg)")
  .dimico.{dimension}.text
    &:after
      content: i18n('en',dimension)
  .dimico.{dimension}.text.zh
    &:after
      content: i18n('zh',dimension)

for taxonomy in taxonomies
  .dimico .taxico.{taxonomy}
    background-image: unquote("url(/icon/c/tax/" + taxonomy + ".svg)")
  .dimico.text .taxico.{taxonomy}:after
    content: i18n('en',taxonomy)
  .dimico.text.zh .taxico.{taxonomy}:after
    content: i18n('zh',taxonomy)
