@import 'vars'
@import 'basic'

nav.navbar-default
  max-width: 800px
  margin: 0 auto
  border: none
  background: none
  box-shadow: none
.navbar-default
  .navbar-brand, .navbar-nav > li > a
    color: #444
    text-shadow: 0 0 3px rgba(255,255,255,1)
nav.navbar-default.invert
  border-radius: 0
  .navbar-brand, .navbar-nav > li > a
    color: #fff
    text-shadow: none
    font-size: 0.85em
    font-weight: 200
