doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.3.15), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: false, og: false, favicon: true }
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false, revealjs: false }
- var assets = "/assets"
- var favicon = "/img/favicon.png"
- var title = "template"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"}
- og.domain = "zbryikt.github.io"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "zbryikt"
- og.section = "Taiwan"
- og.keyword = "zbryikt,template"
- og.description = ""
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include /library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="/lib/plotdb.css")
    link(rel="stylesheet",type="text/css",href="/static/css/dev.css")
    link(rel="stylesheet",type="text/css",href="/static/css/index.css")
    link(href="https://fonts.googleapis.com/earlyaccess/notosanstc.css",rel="stylesheet")
    script(type="text/javascript",src="/lib/plotdb.js")
    script(type="text/javascript",src="/lib/plotd3.js")
  body
    #root
      .text-center: img(src="/img/logo-text-zh.png")
      .text-center(style="width: 400px;margin:auto")
        .input-group
          input.form-control
          .input-group-btn
            .btn.btn-default #[i.fa.fa-search] 用找的

      br
      br

      .text-center
        h3 視覺化方式
        br
        div(style="background:#ec1e79;padding:20px;")
          each item in config.charts
            if exists(item)
              a(href="/v/" + item +"/zh/")
                .chartico.xs.raw.no-border.zh(style="margin:20px",class=[
                item.toLowerCase().replace(/ /g,"-"),lang,(exists(item) ? "" : "disabled")].join(" "))
          each item in config.charts
            if !exists(item)
              a(href="/v/" + item +"/zh/")
                .chartico.xs.raw.no-border.zh(style="margin:20px",class=[
                item.toLowerCase().replace(/ /g,"-"),lang,(exists(item) ? "" : "disabled")].join(" "))

      br
      .text-center
        h3 敘事方向
        each item in config.categories
          .catico.text.md.no-border.zh(class=[item.toLowerCase().replace(/ /g,"-"),lang].join(" "))
      br
      br
      .text-center
        h3 視覺元素
        each item in config.encodings
          .encico.text.md.no-border.zh(class=[item.toLowerCase().replace(/ /g,"-"),lang].join(" "))
